USE [master]
GO
/****** Object:  Database [DB360_V02]    Script Date: 23/07/2026 21:11:51 ******/
CREATE DATABASE [DB360_V02]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB360_V02', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB360_V02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB360_V02_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB360_V02_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB360_V02].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB360_V02]
GO
/****** Object:  Table [dbo].[Accion]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accion](
	[accion_id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](100) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[modulo] [varchar](100) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[accion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accion_Rol]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accion_Rol](
	[accion_rol_id] [bigint] IDENTITY(1,1) NOT NULL,
	[rol_id] [bigint] NOT NULL,
	[accion_id] [bigint] NOT NULL,
	[permitido] [bit] NOT NULL,
	[entidad_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[accion_rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[cuil] [nvarchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[container]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[container](
	[container_id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](50) NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[unidad_medida] [nvarchar](20) NULL,
	[cantidad_actual] [decimal](18, 2) NOT NULL,
	[stock_minimo] [decimal](18, 2) NULL,
	[id_proyecto] [bigint] NOT NULL,
	[activo] [bit] NOT NULL,
	[stock_general_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[container_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_RegistroDeCompra]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_RegistroDeCompra](
	[id_detalle_oc] [bigint] IDENTITY(1,1) NOT NULL,
	[id_oc] [bigint] NOT NULL,
	[id_material] [bigint] NOT NULL,
	[cantidad] [decimal](18, 2) NOT NULL,
	[UoM] [nvarchar](20) NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_oc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_remito]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_remito](
	[detalle_remito_id] [bigint] IDENTITY(1,1) NOT NULL,
	[remito_id] [bigint] NOT NULL,
	[cantidad] [decimal](18, 2) NOT NULL,
	[observacion] [nvarchar](255) NULL,
	[UoM] [nchar](10) NULL,
	[id_material] [bigint] NULL,
 CONSTRAINT [PK__detalle___E83F9B14C5D16AAF] PRIMARY KEY CLUSTERED 
(
	[detalle_remito_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entidad]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entidad](
	[entidad_id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](100) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[modulo] [varchar](100) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[entidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_registroDecompra]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_registroDecompra](
	[estado_registroDecompra_id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[estado_registroDecompra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materiales]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiales](
	[id_material] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[uom_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[proveedor_id] [bigint] IDENTITY(1,1) NOT NULL,
	[empresa_id] [bigint] NULL,
	[razon_social] [nvarchar](200) NOT NULL,
	[cuit] [nvarchar](20) NOT NULL,
	[tipo] [nvarchar](100) NULL,
	[rubro] [nvarchar](100) NULL,
	[ubicacion] [nvarchar](250) NULL,
	[score_conformidad] [decimal](5, 2) NULL,
	[categoria_abc] [char](1) NULL,
	[total_entregas] [int] NOT NULL,
	[entregas_en_fecha] [int] NOT NULL,
	[nc_asociadas] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[rubro_id] [bigint] NULL,
	[email] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[direccion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[proveedor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyecto]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyecto](
	[proyecto_id] [bigint] IDENTITY(1,1) NOT NULL,
	[cliente_id] [bigint] NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[cliente] [nvarchar](100) NULL,
	[direccion] [nvarchar](255) NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin_estimada] [date] NULL,
	[estado] [nvarchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[proyecto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registroDecompra]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registroDecompra](
	[registro_compra_id] [bigint] IDENTITY(1,1) NOT NULL,
	[proyecto_id] [bigint] NOT NULL,
	[proveedor_id] [bigint] NOT NULL,
	[cantidad_pedida] [decimal](18, 2) NOT NULL,
	[precio_unitario] [decimal](18, 2) NULL,
	[monto_total]  AS ([cantidad_pedida]*[precio_unitario]) PERSISTED,
	[fecha_entrega_esperada] [date] NULL,
	[fecha_entrega_real] [date] NULL,
	[cantidad_real_recibida] [decimal](18, 2) NULL,
	[remito_numero] [nvarchar](50) NULL,
	[estado_registroDecompra_id] [bigint] NOT NULL,
	[observaciones] [nvarchar](250) NULL,
	[activo] [int] NULL,
	[fecha_entrega] [datetime] NULL,
	[fecha] [datetime] NULL,
	[numero] [nvarchar](50) NULL,
	[tipo] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[registro_compra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[remito]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[remito](
	[remito_id] [bigint] IDENTITY(1,1) NOT NULL,
	[numero] [nvarchar](50) NOT NULL,
	[fecha] [date] NOT NULL,
	[proveedor_id] [bigint] NULL,
	[observacion] [nvarchar](255) NULL,
	[activo] [bit] NOT NULL,
	[idRegistroDeCompra] [bigint] NULL,
	[Liberado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[remito_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[rol_id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rubro]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rubro](
	[rubro_id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rubro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockGeneral]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockGeneral](
	[stock_general_id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_material] [bigint] NOT NULL,
	[cantidad_total] [decimal](18, 2) NOT NULL,
	[cantidad_disponible] [decimal](18, 2) NOT NULL,
	[cantidad_asignada] [decimal](18, 2) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stock_general_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UoM]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UoM](
	[uom_id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[uom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[usuario_id] [bigint] IDENTITY(1,1) NOT NULL,
	[empresa_id] [bigint] NULL,
	[nombre] [varchar](150) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[activo] [bit] NOT NULL,
	[usuario] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[rol_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Proyecto]    Script Date: 23/07/2026 21:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Proyecto](
	[usuario_proyecto_id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario_id] [bigint] NULL,
	[proyecto_id] [bigint] NULL,
	[rol] [bigint] NULL,
	[activo] [bit] NOT NULL,
	[fecha_asignacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_proyecto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accion] ON 

INSERT [dbo].[Accion] ([accion_id], [codigo], [nombre], [descripcion], [modulo], [activo]) VALUES (1, N'LEER', N'Leer', N'Permite consultar registros', N'SEGURIDAD', 1)
INSERT [dbo].[Accion] ([accion_id], [codigo], [nombre], [descripcion], [modulo], [activo]) VALUES (2, N'CREAR', N'Crear', N'Permite crear registros', N'SEGURIDAD', 1)
INSERT [dbo].[Accion] ([accion_id], [codigo], [nombre], [descripcion], [modulo], [activo]) VALUES (3, N'EDITAR', N'Editar', N'Permite modificar registros', N'SEGURIDAD', 1)
SET IDENTITY_INSERT [dbo].[Accion] OFF
GO
SET IDENTITY_INSERT [dbo].[Accion_Rol] ON 

INSERT [dbo].[Accion_Rol] ([accion_rol_id], [rol_id], [accion_id], [permitido], [entidad_id]) VALUES (145, 1, 4, 1, 6)
INSERT [dbo].[Accion_Rol] ([accion_rol_id], [rol_id], [accion_id], [permitido], [entidad_id]) VALUES (146, 1, 3, 0, 6)
INSERT [dbo].[Accion_Rol] ([accion_rol_id], [rol_id], [accion_id], [permitido], [entidad_id]) VALUES (147, 1, 2, 0, 6)
SET IDENTITY_INSERT [dbo].[Accion_Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id_cliente], [nombre], [apellido], [cuil], [activo]) VALUES (1, N'IGNACIO', N'RESIO', N'20-39967684-4', 1)
INSERT [dbo].[Cliente] ([id_cliente], [nombre], [apellido], [cuil], [activo]) VALUES (2, N'BRUNO ', N'BIAOTTO', N'20-39964454-5', 1)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[container] ON 

INSERT [dbo].[container] ([container_id], [codigo], [nombre], [descripcion], [unidad_medida], [cantidad_actual], [stock_minimo], [id_proyecto], [activo], [stock_general_id]) VALUES (1, NULL, N'Arena fina lavada', NULL, NULL, CAST(10.00 AS Decimal(18, 2)), NULL, 2, 1, 6)
SET IDENTITY_INSERT [dbo].[container] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_RegistroDeCompra] ON 

INSERT [dbo].[Detalle_RegistroDeCompra] ([id_detalle_oc], [id_oc], [id_material], [cantidad], [UoM], [Descripcion]) VALUES (10, 26, 18, CAST(150.00 AS Decimal(18, 2)), N'Bolsa', NULL)
INSERT [dbo].[Detalle_RegistroDeCompra] ([id_detalle_oc], [id_oc], [id_material], [cantidad], [UoM], [Descripcion]) VALUES (11, 29, 19, CAST(1.00 AS Decimal(18, 2)), N'U', NULL)
INSERT [dbo].[Detalle_RegistroDeCompra] ([id_detalle_oc], [id_oc], [id_material], [cantidad], [UoM], [Descripcion]) VALUES (12, 30, 20, CAST(120.00 AS Decimal(18, 2)), N'BOLSA', NULL)
SET IDENTITY_INSERT [dbo].[Detalle_RegistroDeCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_remito] ON 

INSERT [dbo].[detalle_remito] ([detalle_remito_id], [remito_id], [cantidad], [observacion], [UoM], [id_material]) VALUES (3, 6, CAST(50.00 AS Decimal(18, 2)), NULL, N'Bolsa     ', 1)
INSERT [dbo].[detalle_remito] ([detalle_remito_id], [remito_id], [cantidad], [observacion], [UoM], [id_material]) VALUES (4, 6, CAST(120.00 AS Decimal(18, 2)), NULL, N'Unidad    ', 2)
INSERT [dbo].[detalle_remito] ([detalle_remito_id], [remito_id], [cantidad], [observacion], [UoM], [id_material]) VALUES (5, 7, CAST(50.00 AS Decimal(18, 2)), NULL, N'Bolsa     ', 18)
SET IDENTITY_INSERT [dbo].[detalle_remito] OFF
GO
SET IDENTITY_INSERT [dbo].[Entidad] ON 

INSERT [dbo].[Entidad] ([entidad_id], [codigo], [nombre], [descripcion], [modulo], [activo]) VALUES (1, N'USUARIO', N'Usuario', N'Gestión de usuarios', N'SEGURIDAD', 1)
INSERT [dbo].[Entidad] ([entidad_id], [codigo], [nombre], [descripcion], [modulo], [activo]) VALUES (2, N'ROL', N'Rol', N'Gestión de roles', N'SEGURIDAD', 1)
INSERT [dbo].[Entidad] ([entidad_id], [codigo], [nombre], [descripcion], [modulo], [activo]) VALUES (3, N'ACCION', N'Acción', N'Gestión de acciones', N'SEGURIDAD', 1)
SET IDENTITY_INSERT [dbo].[Entidad] OFF
GO
SET IDENTITY_INSERT [dbo].[estado_registroDecompra] ON 

INSERT [dbo].[estado_registroDecompra] ([estado_registroDecompra_id], [nombre], [descripcion], [activo]) VALUES (1, N'CREADA', N'La orden de compra fue registrada en el sistema, ya sea manualmente o mediante la carga de un documento. Aún no posee remitos asociados.', 1)
INSERT [dbo].[estado_registroDecompra] ([estado_registroDecompra_id], [nombre], [descripcion], [activo]) VALUES (2, N'PARCIAL', N'La orden de compra posee al menos un remito asociado. A partir de este estado ya no puede editarse y solo podrá finalizar como COMPLETADA o CANCELADA.', 1)
INSERT [dbo].[estado_registroDecompra] ([estado_registroDecompra_id], [nombre], [descripcion], [activo]) VALUES (3, N'COMPLETADA', N'Todas las cantidades solicitadas en la orden de compra fueron recibidas mediante los remitos asociados.', 1)
SET IDENTITY_INSERT [dbo].[estado_registroDecompra] OFF
GO
SET IDENTITY_INSERT [dbo].[Materiales] ON 

INSERT [dbo].[Materiales] ([id_material], [Nombre], [descripcion], [uom_id]) VALUES (18, N'Cemento Portland 50kg', N'Cemento Portland bolsa 50kg', NULL)
INSERT [dbo].[Materiales] ([id_material], [Nombre], [descripcion], [uom_id]) VALUES (19, N'Cemento Portland 10kg', N'Cemento Portland bolsa 10kg', NULL)
INSERT [dbo].[Materiales] ([id_material], [Nombre], [descripcion], [uom_id]) VALUES (20, N'Cemento Portland CPC40 x 50kg', N'Cemento Portland CPC40 x 50kg', NULL)
SET IDENTITY_INSERT [dbo].[Materiales] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([proveedor_id], [empresa_id], [razon_social], [cuit], [tipo], [rubro], [ubicacion], [score_conformidad], [categoria_abc], [total_entregas], [entregas_en_fecha], [nc_asociadas], [activo], [rubro_id], [email], [telefono], [direccion]) VALUES (4, NULL, N'ddd', N'15-45445454-4', NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 1, 2, N'resioignacio@gmail.com', N'ddd', N'José Riesco 840')
INSERT [dbo].[Proveedor] ([proveedor_id], [empresa_id], [razon_social], [cuit], [tipo], [rubro], [ubicacion], [score_conformidad], [categoria_abc], [total_entregas], [entregas_en_fecha], [nc_asociadas], [activo], [rubro_id], [email], [telefono], [direccion]) VALUES (33, NULL, N'Corralón Nuevo SA', N'30-99999999-1', NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 1, 1, NULL, NULL, NULL)
INSERT [dbo].[Proveedor] ([proveedor_id], [empresa_id], [razon_social], [cuit], [tipo], [rubro], [ubicacion], [score_conformidad], [categoria_abc], [total_entregas], [entregas_en_fecha], [nc_asociadas], [activo], [rubro_id], [email], [telefono], [direccion]) VALUES (34, NULL, N'Materiales Córdoba S.A.', N'30-71234567-8', NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 1, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Proyecto] ON 

INSERT [dbo].[Proyecto] ([proyecto_id], [cliente_id], [nombre], [cliente], [direccion], [fecha_inicio], [fecha_fin_estimada], [estado], [activo]) VALUES (1, 1, N'PROYECTP 001', NULL, N'XXXX', CAST(N'2026-08-11' AS Date), CAST(N'2028-07-11' AS Date), N'ACTIVO', 1)
INSERT [dbo].[Proyecto] ([proyecto_id], [cliente_id], [nombre], [cliente], [direccion], [fecha_inicio], [fecha_fin_estimada], [estado], [activo]) VALUES (2, 1, N'xxxx 1', NULL, N'Argentina | Cordoba | Villa María | XXXX', CAST(N'2026-08-01' AS Date), CAST(N'2028-08-01' AS Date), N'ACTIVO', 1)
SET IDENTITY_INSERT [dbo].[Proyecto] OFF
GO
SET IDENTITY_INSERT [dbo].[registroDecompra] ON 

INSERT [dbo].[registroDecompra] ([registro_compra_id], [proyecto_id], [proveedor_id], [cantidad_pedida], [precio_unitario], [fecha_entrega_esperada], [fecha_entrega_real], [cantidad_real_recibida], [remito_numero], [estado_registroDecompra_id], [observaciones], [activo], [fecha_entrega], [fecha], [numero], [tipo]) VALUES (26, 1, 4, CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, 4, N'Registro editado desde PUT', NULL, CAST(N'2026-07-20T00:00:00.000' AS DateTime), CAST(N'2026-06-25T00:00:00.000' AS DateTime), N'OC-000020-EDITADA', NULL)
SET IDENTITY_INSERT [dbo].[registroDecompra] OFF
GO
SET IDENTITY_INSERT [dbo].[remito] ON 

INSERT [dbo].[remito] ([remito_id], [numero], [fecha], [proveedor_id], [observacion], [activo], [idRegistroDeCompra], [Liberado]) VALUES (6, N'REM-000001', CAST(N'2026-06-28' AS Date), NULL, NULL, 1, 26, 0)
INSERT [dbo].[remito] ([remito_id], [numero], [fecha], [proveedor_id], [observacion], [activo], [idRegistroDeCompra], [Liberado]) VALUES (7, N'REM-000001', CAST(N'2026-06-28' AS Date), NULL, NULL, 1, 26, 0)
INSERT [dbo].[remito] ([remito_id], [numero], [fecha], [proveedor_id], [observacion], [activo], [idRegistroDeCompra], [Liberado]) VALUES (9, N'REM-000001', CAST(N'2026-06-28' AS Date), NULL, NULL, 1, 26, 1)
SET IDENTITY_INSERT [dbo].[remito] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([rol_id], [nombre], [descripcion], [activo]) VALUES (1, N'ADMIN', N'Administrador del sistema', 0)
INSERT [dbo].[Rol] ([rol_id], [nombre], [descripcion], [activo]) VALUES (2, N'SUPERVISOR', N'Supervisor de proyecto', 0)
INSERT [dbo].[Rol] ([rol_id], [nombre], [descripcion], [activo]) VALUES (3, N'OPERARIO', N'Usuario operativo', 1)
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Rubro] ON 

INSERT [dbo].[Rubro] ([rubro_id], [nombre]) VALUES (1, N'Albañilería')
INSERT [dbo].[Rubro] ([rubro_id], [nombre]) VALUES (2, N'Hormigón')
INSERT [dbo].[Rubro] ([rubro_id], [nombre]) VALUES (3, N'Hierros y aceros')
SET IDENTITY_INSERT [dbo].[Rubro] OFF
GO
SET IDENTITY_INSERT [dbo].[StockGeneral] ON 

INSERT [dbo].[StockGeneral] ([stock_general_id], [id_material], [cantidad_total], [cantidad_disponible], [cantidad_asignada], [activo], [fecha_creacion]) VALUES (4, 18, CAST(50.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2026-06-28T20:24:45.853' AS DateTime))
INSERT [dbo].[StockGeneral] ([stock_general_id], [id_material], [cantidad_total], [cantidad_disponible], [cantidad_asignada], [activo], [fecha_creacion]) VALUES (5, 19, CAST(120.50 AS Decimal(18, 2)), CAST(120.50 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2026-06-28T20:24:45.857' AS DateTime))
INSERT [dbo].[StockGeneral] ([stock_general_id], [id_material], [cantidad_total], [cantidad_disponible], [cantidad_asignada], [activo], [fecha_creacion]) VALUES (6, 22, CAST(36.00 AS Decimal(18, 2)), CAST(26.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 1, CAST(N'2026-07-10T01:52:08.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[StockGeneral] OFF
GO
SET IDENTITY_INSERT [dbo].[UoM] ON 

INSERT [dbo].[UoM] ([uom_id], [nombre]) VALUES (1, N'UN')
INSERT [dbo].[UoM] ([uom_id], [nombre]) VALUES (2, N'KG')
INSERT [dbo].[UoM] ([uom_id], [nombre]) VALUES (3, N'GR')
SET IDENTITY_INSERT [dbo].[UoM] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([usuario_id], [empresa_id], [nombre], [email], [activo], [usuario], [password], [rol_id]) VALUES (1, NULL, N'ignacio', N'resioignacio@gamil.com', 1, N'IRE', N'$2b$10$KNAjgQ9JPIFuaEGaBw9DF.wsZLuWJEw4EVG3OVJGayDdrC5SmPiMu', 1)
INSERT [dbo].[Usuario] ([usuario_id], [empresa_id], [nombre], [email], [activo], [usuario], [password], [rol_id]) VALUES (2, NULL, N'BRUNO MARIO BIANCIOTTO', N'BMB@GMAIL.COM', 1, N'BMB', N'$2b$10$FOTtaeVEY.sdcupqtev5mOQ7w1Znmhr.mt/D4.oGL/EbyLbtWCeq6', 2)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Accion_Codigo]    Script Date: 23/07/2026 21:11:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Accion_Codigo] ON [dbo].[Accion]
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_AccionRol_Rol_Accion_Entidad]    Script Date: 23/07/2026 21:11:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_AccionRol_Rol_Accion_Entidad] ON [dbo].[Accion_Rol]
(
	[rol_id] ASC,
	[accion_id] ASC,
	[entidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Entidad_Codigo]    Script Date: 23/07/2026 21:11:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Entidad_Codigo] ON [dbo].[Entidad]
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Rol_Nombre]    Script Date: 23/07/2026 21:11:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Rol_Nombre] ON [dbo].[Rol]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_StockGeneral_Material]    Script Date: 23/07/2026 21:11:52 ******/
ALTER TABLE [dbo].[StockGeneral] ADD  CONSTRAINT [UQ_StockGeneral_Material] UNIQUE NONCLUSTERED 
(
	[id_material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Usuario_Usuario]    Script Date: 23/07/2026 21:11:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Usuario_Usuario] ON [dbo].[Usuario]
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accion] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Accion_Rol] ADD  DEFAULT ((1)) FOR [permitido]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[container] ADD  DEFAULT ((0)) FOR [cantidad_actual]
GO
ALTER TABLE [dbo].[container] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Entidad] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[estado_registroDecompra] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ((0)) FOR [total_entregas]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ((0)) FOR [entregas_en_fecha]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ((0)) FOR [nc_asociadas]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Proyecto] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Proyecto] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[remito] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[remito] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[StockGeneral] ADD  DEFAULT ((0)) FOR [cantidad_total]
GO
ALTER TABLE [dbo].[StockGeneral] ADD  DEFAULT ((0)) FOR [cantidad_disponible]
GO
ALTER TABLE [dbo].[StockGeneral] ADD  DEFAULT ((0)) FOR [cantidad_asignada]
GO
ALTER TABLE [dbo].[StockGeneral] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[StockGeneral] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuario_Proyecto] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Accion_Rol]  WITH CHECK ADD  CONSTRAINT [FK_AccionRol_Accion] FOREIGN KEY([accion_id])
REFERENCES [dbo].[Accion] ([accion_id])
GO
ALTER TABLE [dbo].[Accion_Rol] CHECK CONSTRAINT [FK_AccionRol_Accion]
GO
ALTER TABLE [dbo].[Accion_Rol]  WITH CHECK ADD  CONSTRAINT [FK_AccionRol_Entidad] FOREIGN KEY([entidad_id])
REFERENCES [dbo].[Entidad] ([entidad_id])
GO
ALTER TABLE [dbo].[Accion_Rol] CHECK CONSTRAINT [FK_AccionRol_Entidad]
GO
ALTER TABLE [dbo].[Accion_Rol]  WITH CHECK ADD  CONSTRAINT [FK_AccionRol_Rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[Rol] ([rol_id])
GO
ALTER TABLE [dbo].[Accion_Rol] CHECK CONSTRAINT [FK_AccionRol_Rol]
GO
ALTER TABLE [dbo].[container]  WITH CHECK ADD  CONSTRAINT [FK_container_Proyecto] FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[Proyecto] ([proyecto_id])
GO
ALTER TABLE [dbo].[container] CHECK CONSTRAINT [FK_container_Proyecto]
GO
ALTER TABLE [dbo].[Detalle_RegistroDeCompra]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_OC_Materiales] FOREIGN KEY([id_material])
REFERENCES [dbo].[Materiales] ([id_material])
GO
ALTER TABLE [dbo].[Detalle_RegistroDeCompra] CHECK CONSTRAINT [FK_Detalle_OC_Materiales]
GO
ALTER TABLE [dbo].[Detalle_RegistroDeCompra]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_OC_registroDecompra] FOREIGN KEY([id_oc])
REFERENCES [dbo].[registroDecompra] ([registro_compra_id])
GO
ALTER TABLE [dbo].[Detalle_RegistroDeCompra] CHECK CONSTRAINT [FK_Detalle_OC_registroDecompra]
GO
ALTER TABLE [dbo].[detalle_remito]  WITH CHECK ADD  CONSTRAINT [FK_detalle_remito_remito] FOREIGN KEY([remito_id])
REFERENCES [dbo].[remito] ([remito_id])
GO
ALTER TABLE [dbo].[detalle_remito] CHECK CONSTRAINT [FK_detalle_remito_remito]
GO
ALTER TABLE [dbo].[Materiales]  WITH CHECK ADD  CONSTRAINT [FK_Materiales_UoM] FOREIGN KEY([uom_id])
REFERENCES [dbo].[UoM] ([uom_id])
GO
ALTER TABLE [dbo].[Materiales] CHECK CONSTRAINT [FK_Materiales_UoM]
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Rubro] FOREIGN KEY([rubro_id])
REFERENCES [dbo].[Rubro] ([rubro_id])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_Proveedor_Rubro]
GO
ALTER TABLE [dbo].[registroDecompra]  WITH CHECK ADD  CONSTRAINT [FK_registroDecompra_estado_oc] FOREIGN KEY([estado_registroDecompra_id])
REFERENCES [dbo].[estado_registroDecompra] ([estado_registroDecompra_id])
GO
ALTER TABLE [dbo].[registroDecompra] CHECK CONSTRAINT [FK_registroDecompra_estado_oc]
GO
ALTER TABLE [dbo].[registroDecompra]  WITH CHECK ADD  CONSTRAINT [FK_registroDecompra_Proveedor] FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[Proveedor] ([proveedor_id])
GO
ALTER TABLE [dbo].[registroDecompra] CHECK CONSTRAINT [FK_registroDecompra_Proveedor]
GO
ALTER TABLE [dbo].[remito]  WITH CHECK ADD  CONSTRAINT [FK_remito_Proveedor] FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[Proveedor] ([proveedor_id])
GO
ALTER TABLE [dbo].[remito] CHECK CONSTRAINT [FK_remito_Proveedor]
GO
ALTER TABLE [dbo].[remito]  WITH CHECK ADD  CONSTRAINT [FK_remito_registroDecompra] FOREIGN KEY([idRegistroDeCompra])
REFERENCES [dbo].[registroDecompra] ([registro_compra_id])
GO
ALTER TABLE [dbo].[remito] CHECK CONSTRAINT [FK_remito_registroDecompra]
GO
ALTER TABLE [dbo].[StockGeneral]  WITH CHECK ADD  CONSTRAINT [FK_StockGeneral_Materiales] FOREIGN KEY([id_material])
REFERENCES [dbo].[Materiales] ([id_material])
GO
ALTER TABLE [dbo].[StockGeneral] CHECK CONSTRAINT [FK_StockGeneral_Materiales]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[Rol] ([rol_id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Usuario_Proyecto]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioProyecto_Proyecto] FOREIGN KEY([proyecto_id])
REFERENCES [dbo].[Proyecto] ([proyecto_id])
GO
ALTER TABLE [dbo].[Usuario_Proyecto] CHECK CONSTRAINT [FK_UsuarioProyecto_Proyecto]
GO
ALTER TABLE [dbo].[Usuario_Proyecto]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioProyecto_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([usuario_id])
GO
ALTER TABLE [dbo].[Usuario_Proyecto] CHECK CONSTRAINT [FK_UsuarioProyecto_Usuario]
GO
USE [master]
GO
