USE [master]
GO
/****** Object:  Database [DB360_V02]    Script Date: 28/07/2026 19:50:55 ******/
CREATE DATABASE [DB360_V02]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB360_V02', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB360_V02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB360_V02_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB360_V02_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB360_V02].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB360_V02]
GO
/****** Object:  Table [dbo].[Accion]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accion](
	[accion_id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](100) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[modulo] [varchar](100) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[accion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accion_Rol]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accion_Rol](
	[accion_rol_id] [bigint] IDENTITY(1,1) NOT NULL,
	[rol_id] [bigint] NOT NULL,
	[accion_id] [bigint] NOT NULL,
	[permitido] [bit] NOT NULL,
	[entidad_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[accion_rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvanceOperacion]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvanceOperacion](
	[avance_id] [bigint] IDENTITY(1,1) NOT NULL,
	[operacion_id] [bigint] NOT NULL,
	[proyecto_id] [bigint] NOT NULL,
	[registrado_por] [bigint] NOT NULL,
	[pct_avance_nuevo] [decimal](5, 2) NOT NULL,
	[pct_avance_anterior] [decimal](5, 2) NOT NULL,
	[cantidad_hoy] [decimal](12, 2) NULL,
	[fecha_registro] [date] NOT NULL,
	[fecha_creacion] [datetime2](0) NOT NULL,
	[es_primer_avance] [bit] NOT NULL,
	[fecha_inicio_real_declarada] [date] NULL,
	[foto_url] [nvarchar](500) NULL,
	[nota] [nvarchar](max) NULL,
	[es_correccion] [bit] NOT NULL,
	[avance_corregido_id] [bigint] NULL,
 CONSTRAINT [PK_AvanceOperacion] PRIMARY KEY CLUSTERED 
(
	[avance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BomOperacion]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BomOperacion](
	[bom_id] [bigint] IDENTITY(1,1) NOT NULL,
	[operacion_id] [bigint] NOT NULL,
	[proyecto_id] [bigint] NOT NULL,
	[material_id] [bigint] NULL,
	[uom_id] [bigint] NOT NULL,
	[numero_linea] [smallint] NOT NULL,
	[descripcion_libre] [nvarchar](200) NULL,
	[cantidad_teorica] [decimal](18, 3) NOT NULL,
	[preaviso_dias] [int] NOT NULL,
	[sin_codigo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](0) NOT NULL,
	[fecha_actualizacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_BomOperacion] PRIMARY KEY CLUSTERED 
(
	[bom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CalendarioProyecto]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalendarioProyecto](
	[calendario_id] [bigint] IDENTITY(1,1) NOT NULL,
	[proyecto_id] [bigint] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[lunes] [bit] NOT NULL,
	[martes] [bit] NOT NULL,
	[miercoles] [bit] NOT NULL,
	[jueves] [bit] NOT NULL,
	[viernes] [bit] NOT NULL,
	[sabado] [bit] NOT NULL,
	[domingo] [bit] NOT NULL,
	[hs_jornada_estandar] [decimal](5, 2) NOT NULL,
	[hora_inicio] [time](0) NOT NULL,
	[hora_fin] [time](0) NOT NULL,
	[hs_almuerzo] [decimal](4, 2) NOT NULL,
	[zona_horaria] [nvarchar](60) NOT NULL,
	[fecha_creacion] [datetime2](0) NOT NULL,
	[fecha_actualizacion] [datetime2](0) NOT NULL,
	[fecha_inicio_programacion] [date] NULL,
	[tipo_lunes] [tinyint] NOT NULL,
	[tipo_martes] [tinyint] NOT NULL,
	[tipo_miercoles] [tinyint] NOT NULL,
	[tipo_jueves] [tinyint] NOT NULL,
	[tipo_viernes] [tinyint] NOT NULL,
	[tipo_sabado] [tinyint] NOT NULL,
	[tipo_domingo] [tinyint] NOT NULL,
	[hs_jornada_parcial] [decimal](4, 2) NULL,
	[hora_inicio_parcial] [time](7) NULL,
	[hora_fin_parcial] [time](7) NULL,
 CONSTRAINT [PK_CalendarioProyecto] PRIMARY KEY CLUSTERED 
(
	[calendario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[cuil] [nvarchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsumoMaterialOperacion]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumoMaterialOperacion](
	[consumo_id] [bigint] IDENTITY(1,1) NOT NULL,
	[avance_id] [bigint] NULL,
	[bom_id] [bigint] NOT NULL,
	[operacion_id] [bigint] NOT NULL,
	[proyecto_id] [bigint] NOT NULL,
	[registrado_por] [bigint] NOT NULL,
	[lote_id] [bigint] NULL,
	[cantidad_consumida] [decimal](18, 3) NOT NULL,
	[uom_id] [bigint] NOT NULL,
	[fecha_consumo] [date] NOT NULL,
	[fecha_creacion] [datetime2](0) NOT NULL,
	[nota] [nvarchar](max) NULL,
 CONSTRAINT [PK_ConsumoMaterialOperacion] PRIMARY KEY CLUSTERED 
(
	[consumo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[container]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[container](
	[container_id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](50) NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[unidad_medida] [nvarchar](20) NULL,
	[cantidad_actual] [decimal](18, 2) NOT NULL,
	[stock_minimo] [decimal](18, 2) NULL,
	[id_proyecto] [bigint] NOT NULL,
	[activo] [bit] NOT NULL,
	[stock_general_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[container_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_RegistroDeCompra]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_RegistroDeCompra](
	[id_detalle_oc] [bigint] IDENTITY(1,1) NOT NULL,
	[id_oc] [bigint] NOT NULL,
	[id_material] [bigint] NOT NULL,
	[cantidad] [decimal](18, 2) NOT NULL,
	[UoM] [nvarchar](20) NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_oc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_remito]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_remito](
	[detalle_remito_id] [bigint] IDENTITY(1,1) NOT NULL,
	[remito_id] [bigint] NOT NULL,
	[cantidad] [decimal](18, 2) NOT NULL,
	[observacion] [nvarchar](255) NULL,
	[UoM] [nchar](10) NULL,
	[id_material] [bigint] NULL,
 CONSTRAINT [PK__detalle___E83F9B14C5D16AAF] PRIMARY KEY CLUSTERED 
(
	[detalle_remito_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entidad]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entidad](
	[entidad_id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](100) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[modulo] [varchar](100) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[entidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_etapa]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_etapa](
	[estado_id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](30) NOT NULL,
	[label_es] [nvarchar](60) NOT NULL,
	[color_hex] [char](7) NOT NULL,
 CONSTRAINT [PK_estado_etapa] PRIMARY KEY CLUSTERED 
(
	[estado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_operacion]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_operacion](
	[estado_id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](30) NOT NULL,
	[label_es] [nvarchar](60) NOT NULL,
	[color_hex] [char](7) NOT NULL,
	[es_terminal] [bit] NOT NULL,
 CONSTRAINT [PK_estado_operacion] PRIMARY KEY CLUSTERED 
(
	[estado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_registroDecompra]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_registroDecompra](
	[estado_registroDecompra_id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[estado_registroDecompra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EtapaOperacion]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtapaOperacion](
	[etapa_id] [bigint] IDENTITY(1,1) NOT NULL,
	[proyecto_id] [bigint] NOT NULL,
	[version_id] [bigint] NOT NULL,
	[estado_id] [bigint] NOT NULL,
	[codigo] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[orden] [smallint] NOT NULL,
	[peso_pct] [decimal](5, 2) NOT NULL,
	[pct_avance] [decimal](5, 2) NOT NULL,
	[fecha_creacion] [datetime2](0) NOT NULL,
	[fecha_actualizacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_EtapaOperacion] PRIMARY KEY CLUSTERED 
(
	[etapa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcepcionCalendario]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcepcionCalendario](
	[excepcion_id] [bigint] IDENTITY(1,1) NOT NULL,
	[calendario_id] [bigint] NOT NULL,
	[fecha] [date] NOT NULL,
	[tipo] [nvarchar](30) NOT NULL,
	[hs_disponibles] [decimal](5, 2) NOT NULL,
	[motivo] [nvarchar](200) NULL,
	[recuperable] [bit] NOT NULL,
	[fecha_creacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ExcepcionCalendario] PRIMARY KEY CLUSTERED 
(
	[excepcion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialNMT]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialNMT](
	[nmt_id] [bigint] IDENTITY(1,1) NOT NULL,
	[operacion_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[fecha_nmt_anterior] [date] NULL,
	[fecha_nmt_nueva] [date] NULL,
	[motivo] [nvarchar](max) NOT NULL,
	[fecha_cambio] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_HistorialNMT] PRIMARY KEY CLUSTERED 
(
	[nmt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialOperacion]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialOperacion](
	[cambio_id] [bigint] IDENTITY(1,1) NOT NULL,
	[operacion_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[campo_modificado] [nvarchar](100) NOT NULL,
	[valor_anterior] [nvarchar](max) NULL,
	[valor_nuevo] [nvarchar](max) NULL,
	[motivo] [nvarchar](max) NULL,
	[fecha_cambio] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_HistorialOperacion] PRIMARY KEY CLUSTERED 
(
	[cambio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materiales]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiales](
	[id_material] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[uom_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operacion]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operacion](
	[operacion_id] [bigint] IDENTITY(1,1) NOT NULL,
	[etapa_id] [bigint] NOT NULL,
	[proyecto_id] [bigint] NOT NULL,
	[version_id] [bigint] NOT NULL,
	[responsable_id] [bigint] NULL,
	[estado_id] [bigint] NOT NULL,
	[unidad_avance_id] [bigint] NOT NULL,
	[tipo_restriccion_id] [bigint] NOT NULL,
	[secuencia] [int] NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[criterio_cierre] [nvarchar](max) NULL,
	[duracion_hs] [decimal](8, 2) NOT NULL,
	[desfase_inicio_hs] [int] NOT NULL,
	[cantidad_meta] [decimal](12, 2) NULL,
	[peso_pct] [decimal](5, 2) NOT NULL,
	[fecha_inicio_estimada] [date] NULL,
	[fecha_fin_estimada] [date] NULL,
	[fecha_inicio_real] [date] NULL,
	[fecha_fin_real] [date] NULL,
	[fecha_no_antes_del] [date] NULL,
	[pct_avance_actual] [decimal](5, 2) NOT NULL,
	[cantidad_acumulada] [decimal](12, 2) NOT NULL,
	[archivada] [bit] NOT NULL,
	[version_origen] [nvarchar](20) NULL,
	[fecha_creacion] [datetime2](0) NOT NULL,
	[fecha_actualizacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Operacion] PRIMARY KEY CLUSTERED 
(
	[operacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperacionDependencia]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperacionDependencia](
	[dependencia_id] [bigint] IDENTITY(1,1) NOT NULL,
	[operacion_id] [bigint] NOT NULL,
	[operacion_predecesora_id] [bigint] NOT NULL,
	[desfase_hs] [int] NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_OperacionDependencia] PRIMARY KEY CLUSTERED 
(
	[dependencia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[proveedor_id] [bigint] IDENTITY(1,1) NOT NULL,
	[empresa_id] [bigint] NULL,
	[razon_social] [nvarchar](200) NOT NULL,
	[cuit] [nvarchar](20) NOT NULL,
	[tipo] [nvarchar](100) NULL,
	[rubro] [nvarchar](100) NULL,
	[ubicacion] [nvarchar](250) NULL,
	[score_conformidad] [decimal](5, 2) NULL,
	[categoria_abc] [char](1) NULL,
	[total_entregas] [int] NOT NULL,
	[entregas_en_fecha] [int] NOT NULL,
	[nc_asociadas] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[rubro_id] [bigint] NULL,
	[email] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[direccion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[proveedor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyecto]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyecto](
	[proyecto_id] [bigint] IDENTITY(1,1) NOT NULL,
	[cliente_id] [bigint] NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[cliente] [nvarchar](100) NULL,
	[direccion] [nvarchar](255) NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin_estimada] [date] NULL,
	[estado] [nvarchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[proyecto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registroDecompra]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registroDecompra](
	[registro_compra_id] [bigint] IDENTITY(1,1) NOT NULL,
	[proyecto_id] [bigint] NULL,
	[proveedor_id] [bigint] NOT NULL,
	[cantidad_pedida] [decimal](18, 2) NOT NULL,
	[precio_unitario] [decimal](18, 2) NULL,
	[monto_total]  AS ([cantidad_pedida]*[precio_unitario]) PERSISTED,
	[fecha_entrega_esperada] [date] NULL,
	[fecha_entrega_real] [date] NULL,
	[cantidad_real_recibida] [decimal](18, 2) NULL,
	[remito_numero] [nvarchar](50) NULL,
	[estado_registroDecompra_id] [bigint] NOT NULL,
	[observaciones] [nvarchar](250) NULL,
	[activo] [int] NULL,
	[fecha_entrega] [datetime] NULL,
	[fecha] [datetime] NULL,
	[numero] [nvarchar](50) NULL,
	[tipo] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[registro_compra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[remito]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[remito](
	[remito_id] [bigint] IDENTITY(1,1) NOT NULL,
	[numero] [nvarchar](50) NOT NULL,
	[fecha] [date] NOT NULL,
	[proveedor_id] [bigint] NULL,
	[observacion] [nvarchar](255) NULL,
	[activo] [bit] NOT NULL,
	[idRegistroDeCompra] [bigint] NULL,
	[Liberado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[remito_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResponsableOperacion]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResponsableOperacion](
	[responsable_id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[tipo] [nvarchar](30) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ResponsableOperacion] PRIMARY KEY CLUSTERED 
(
	[responsable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[rol_id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rubro]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rubro](
	[rubro_id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rubro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockGeneral]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockGeneral](
	[stock_general_id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_material] [bigint] NOT NULL,
	[cantidad_total] [decimal](18, 2) NOT NULL,
	[cantidad_disponible] [decimal](18, 2) NOT NULL,
	[cantidad_asignada] [decimal](18, 2) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stock_general_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_restriccion]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_restriccion](
	[tipo_restriccion_id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](30) NOT NULL,
	[label_es] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tipo_restriccion] PRIMARY KEY CLUSTERED 
(
	[tipo_restriccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unidad_avance]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unidad_avance](
	[unidad_avance_id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](20) NOT NULL,
	[label_es] [nvarchar](60) NOT NULL,
	[requiere_cantidad_meta] [bit] NOT NULL,
	[requiere_foto_cierre] [bit] NOT NULL,
 CONSTRAINT [PK_unidad_avance] PRIMARY KEY CLUSTERED 
(
	[unidad_avance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UoM]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UoM](
	[uom_id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[uom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[usuario_id] [bigint] IDENTITY(1,1) NOT NULL,
	[empresa_id] [bigint] NULL,
	[nombre] [varchar](150) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[activo] [bit] NOT NULL,
	[usuario] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[rol_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Proyecto]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Proyecto](
	[usuario_proyecto_id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario_id] [bigint] NULL,
	[proyecto_id] [bigint] NULL,
	[rol] [bigint] NULL,
	[activo] [bit] NOT NULL,
	[fecha_asignacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_proyecto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VersionPlan]    Script Date: 28/07/2026 19:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VersionPlan](
	[version_id] [bigint] IDENTITY(1,1) NOT NULL,
	[proyecto_id] [bigint] NOT NULL,
	[codigo] [nvarchar](20) NOT NULL,
	[es_activa] [bit] NOT NULL,
	[importado_por] [bigint] NULL,
	[fecha_importacion] [datetime2](0) NOT NULL,
	[operaciones_nuevas] [int] NOT NULL,
	[operaciones_modificadas] [int] NOT NULL,
	[operaciones_archivadas] [int] NOT NULL,
	[notas] [nvarchar](max) NULL,
 CONSTRAINT [PK_VersionPlan] PRIMARY KEY CLUSTERED 
(
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accion] ON 

INSERT [dbo].[Accion] ([accion_id], [codigo], [nombre], [descripcion], [modulo], [activo]) VALUES (1, N'LEER', N'Leer', N'Permite consultar registros', N'SEGURIDAD', 1)
INSERT [dbo].[Accion] ([accion_id], [codigo], [nombre], [descripcion], [modulo], [activo]) VALUES (2, N'CREAR', N'Crear', N'Permite crear registros', N'SEGURIDAD', 1)
INSERT [dbo].[Accion] ([accion_id], [codigo], [nombre], [descripcion], [modulo], [activo]) VALUES (3, N'EDITAR', N'Editar', N'Permite modificar registros', N'SEGURIDAD', 1)
SET IDENTITY_INSERT [dbo].[Accion] OFF
GO
SET IDENTITY_INSERT [dbo].[Accion_Rol] ON 

INSERT [dbo].[Accion_Rol] ([accion_rol_id], [rol_id], [accion_id], [permitido], [entidad_id]) VALUES (145, 1, 4, 1, 6)
INSERT [dbo].[Accion_Rol] ([accion_rol_id], [rol_id], [accion_id], [permitido], [entidad_id]) VALUES (146, 1, 3, 0, 6)
INSERT [dbo].[Accion_Rol] ([accion_rol_id], [rol_id], [accion_id], [permitido], [entidad_id]) VALUES (147, 1, 2, 0, 6)
SET IDENTITY_INSERT [dbo].[Accion_Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[BomOperacion] ON 

INSERT [dbo].[BomOperacion] ([bom_id], [operacion_id], [proyecto_id], [material_id], [uom_id], [numero_linea], [descripcion_libre], [cantidad_teorica], [preaviso_dias], [sin_codigo], [fecha_creacion], [fecha_actualizacion]) VALUES (1, 1, 2, NULL, 1, 1, N'Estacas de madera para marcado', CAST(20.000 AS Decimal(18, 3)), 0, 1, CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2), CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2))
INSERT [dbo].[BomOperacion] ([bom_id], [operacion_id], [proyecto_id], [material_id], [uom_id], [numero_linea], [descripcion_libre], [cantidad_teorica], [preaviso_dias], [sin_codigo], [fecha_creacion], [fecha_actualizacion]) VALUES (2, 1, 2, NULL, 12, 2, N'Cal para replanteo', CAST(5.000 AS Decimal(18, 3)), 0, 1, CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2), CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2))
INSERT [dbo].[BomOperacion] ([bom_id], [operacion_id], [proyecto_id], [material_id], [uom_id], [numero_linea], [descripcion_libre], [cantidad_teorica], [preaviso_dias], [sin_codigo], [fecha_creacion], [fecha_actualizacion]) VALUES (3, 2, 2, NULL, 2, 1, N'Hierro Ø12 nervado', CAST(380.000 AS Decimal(18, 3)), 0, 1, CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2), CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BomOperacion] OFF
GO
SET IDENTITY_INSERT [dbo].[CalendarioProyecto] ON 

SET IDENTITY_INSERT [dbo].[CalendarioProyecto] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id_cliente], [nombre], [apellido], [cuil], [activo]) VALUES (1, N'IGNACIO', N'RESIO', N'20-39967684-4', 1)
INSERT [dbo].[Cliente] ([id_cliente], [nombre], [apellido], [cuil], [activo]) VALUES (2, N'BRUNO ', N'BIAOTTO', N'20-39964454-5', 1)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[container] ON 

INSERT [dbo].[container] ([container_id], [codigo], [nombre], [descripcion], [unidad_medida], [cantidad_actual], [stock_minimo], [id_proyecto], [activo], [stock_general_id]) VALUES (1, NULL, N'Arena fina lavada', NULL, NULL, CAST(10.00 AS Decimal(18, 2)), NULL, 2, 1, 6)
SET IDENTITY_INSERT [dbo].[container] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_RegistroDeCompra] ON 

INSERT [dbo].[Detalle_RegistroDeCompra] ([id_detalle_oc], [id_oc], [id_material], [cantidad], [UoM], [Descripcion]) VALUES (10, 26, 18, CAST(150.00 AS Decimal(18, 2)), N'Bolsa', NULL)
INSERT [dbo].[Detalle_RegistroDeCompra] ([id_detalle_oc], [id_oc], [id_material], [cantidad], [UoM], [Descripcion]) VALUES (11, 29, 19, CAST(1.00 AS Decimal(18, 2)), N'U', NULL)
INSERT [dbo].[Detalle_RegistroDeCompra] ([id_detalle_oc], [id_oc], [id_material], [cantidad], [UoM], [Descripcion]) VALUES (12, 30, 20, CAST(120.00 AS Decimal(18, 2)), N'BOLSA', NULL)
SET IDENTITY_INSERT [dbo].[Detalle_RegistroDeCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_remito] ON 

INSERT [dbo].[detalle_remito] ([detalle_remito_id], [remito_id], [cantidad], [observacion], [UoM], [id_material]) VALUES (3, 6, CAST(50.00 AS Decimal(18, 2)), NULL, N'Bolsa     ', 1)
INSERT [dbo].[detalle_remito] ([detalle_remito_id], [remito_id], [cantidad], [observacion], [UoM], [id_material]) VALUES (4, 6, CAST(120.00 AS Decimal(18, 2)), NULL, N'Unidad    ', 2)
INSERT [dbo].[detalle_remito] ([detalle_remito_id], [remito_id], [cantidad], [observacion], [UoM], [id_material]) VALUES (5, 7, CAST(50.00 AS Decimal(18, 2)), NULL, N'Bolsa     ', 18)
SET IDENTITY_INSERT [dbo].[detalle_remito] OFF
GO
SET IDENTITY_INSERT [dbo].[Entidad] ON 

INSERT [dbo].[Entidad] ([entidad_id], [codigo], [nombre], [descripcion], [modulo], [activo]) VALUES (1, N'USUARIO', N'Usuario', N'Gestión de usuarios', N'SEGURIDAD', 1)
INSERT [dbo].[Entidad] ([entidad_id], [codigo], [nombre], [descripcion], [modulo], [activo]) VALUES (2, N'ROL', N'Rol', N'Gestión de roles', N'SEGURIDAD', 1)
INSERT [dbo].[Entidad] ([entidad_id], [codigo], [nombre], [descripcion], [modulo], [activo]) VALUES (3, N'ACCION', N'Acción', N'Gestión de acciones', N'SEGURIDAD', 1)
SET IDENTITY_INSERT [dbo].[Entidad] OFF
GO
SET IDENTITY_INSERT [dbo].[estado_etapa] ON 

INSERT [dbo].[estado_etapa] ([estado_id], [codigo], [label_es], [color_hex]) VALUES (1, N'PENDIENTE', N'Pendiente', N'#94a3bc')
INSERT [dbo].[estado_etapa] ([estado_id], [codigo], [label_es], [color_hex]) VALUES (2, N'EN_CURSO', N'En curso', N'#ff8c42')
INSERT [dbo].[estado_etapa] ([estado_id], [codigo], [label_es], [color_hex]) VALUES (3, N'COMPLETA', N'Completa', N'#2dd47a')
SET IDENTITY_INSERT [dbo].[estado_etapa] OFF
GO
SET IDENTITY_INSERT [dbo].[estado_operacion] ON 

INSERT [dbo].[estado_operacion] ([estado_id], [codigo], [label_es], [color_hex], [es_terminal]) VALUES (1, N'PENDIENTE', N'Pendiente', N'#94a3bc', 0)
INSERT [dbo].[estado_operacion] ([estado_id], [codigo], [label_es], [color_hex], [es_terminal]) VALUES (2, N'EN_CURSO', N'En curso', N'#ff8c42', 0)
INSERT [dbo].[estado_operacion] ([estado_id], [codigo], [label_es], [color_hex], [es_terminal]) VALUES (3, N'COMPLETA', N'Completa', N'#2dd47a', 1)
SET IDENTITY_INSERT [dbo].[estado_operacion] OFF
GO
SET IDENTITY_INSERT [dbo].[estado_registroDecompra] ON 

INSERT [dbo].[estado_registroDecompra] ([estado_registroDecompra_id], [nombre], [descripcion], [activo]) VALUES (1, N'CREADA', N'La orden de compra fue registrada en el sistema, ya sea manualmente o mediante la carga de un documento. Aún no posee remitos asociados.', 1)
INSERT [dbo].[estado_registroDecompra] ([estado_registroDecompra_id], [nombre], [descripcion], [activo]) VALUES (2, N'PARCIAL', N'La orden de compra posee al menos un remito asociado. A partir de este estado ya no puede editarse y solo podrá finalizar como COMPLETADA o CANCELADA.', 1)
INSERT [dbo].[estado_registroDecompra] ([estado_registroDecompra_id], [nombre], [descripcion], [activo]) VALUES (3, N'COMPLETADA', N'Todas las cantidades solicitadas en la orden de compra fueron recibidas mediante los remitos asociados.', 1)
SET IDENTITY_INSERT [dbo].[estado_registroDecompra] OFF
GO
SET IDENTITY_INSERT [dbo].[EtapaOperacion] ON 

INSERT [dbo].[EtapaOperacion] ([etapa_id], [proyecto_id], [version_id], [estado_id], [codigo], [nombre], [orden], [peso_pct], [pct_avance], [fecha_creacion], [fecha_actualizacion]) VALUES (1, 2, 1, 1, N'E1', N'Excavación y Fundaciones', 1, CAST(15.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2), CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2))
INSERT [dbo].[EtapaOperacion] ([etapa_id], [proyecto_id], [version_id], [estado_id], [codigo], [nombre], [orden], [peso_pct], [pct_avance], [fecha_creacion], [fecha_actualizacion]) VALUES (2, 2, 1, 1, N'E2', N'Estructura Planta Baja', 2, CAST(25.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2), CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2))
INSERT [dbo].[EtapaOperacion] ([etapa_id], [proyecto_id], [version_id], [estado_id], [codigo], [nombre], [orden], [peso_pct], [pct_avance], [fecha_creacion], [fecha_actualizacion]) VALUES (3, 2, 1, 1, N'E3', N'Estructura Piso 1', 3, CAST(20.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2), CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[EtapaOperacion] OFF
GO
SET IDENTITY_INSERT [dbo].[ExcepcionCalendario] ON 

INSERT [dbo].[ExcepcionCalendario] ([excepcion_id], [calendario_id], [fecha], [tipo], [hs_disponibles], [motivo], [recuperable], [fecha_creacion]) VALUES (25, 3, CAST(N'2025-04-25' AS Date), N'FERIADO', CAST(0.00 AS Decimal(5, 2)), N'Día del Veterano y los Caídos en Malvinas', 0, CAST(N'2026-07-27T20:25:06.0000000' AS DateTime2))
INSERT [dbo].[ExcepcionCalendario] ([excepcion_id], [calendario_id], [fecha], [tipo], [hs_disponibles], [motivo], [recuperable], [fecha_creacion]) VALUES (26, 3, CAST(N'2025-05-01' AS Date), N'FERIADO', CAST(0.00 AS Decimal(5, 2)), N'Día del Trabajador', 0, CAST(N'2026-07-27T20:25:06.0000000' AS DateTime2))
INSERT [dbo].[ExcepcionCalendario] ([excepcion_id], [calendario_id], [fecha], [tipo], [hs_disponibles], [motivo], [recuperable], [fecha_creacion]) VALUES (27, 3, CAST(N'2025-05-25' AS Date), N'FERIADO', CAST(0.00 AS Decimal(5, 2)), N'Día de la Revolución de Mayo', 0, CAST(N'2026-07-27T20:25:06.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ExcepcionCalendario] OFF
GO
SET IDENTITY_INSERT [dbo].[HistorialNMT] ON 

INSERT [dbo].[HistorialNMT] ([nmt_id], [operacion_id], [usuario_id], [fecha_nmt_anterior], [fecha_nmt_nueva], [motivo], [fecha_cambio]) VALUES (1, 2, 1, NULL, CAST(N'2026-08-07' AS Date), N'TEST', CAST(N'2026-07-27T19:59:16.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HistorialNMT] OFF
GO
SET IDENTITY_INSERT [dbo].[Materiales] ON 

INSERT [dbo].[Materiales] ([id_material], [Nombre], [descripcion], [uom_id]) VALUES (18, N'Cemento Portland 50kg', N'Cemento Portland bolsa 50kg', NULL)
INSERT [dbo].[Materiales] ([id_material], [Nombre], [descripcion], [uom_id]) VALUES (19, N'Cemento Portland 10kg', N'Cemento Portland bolsa 10kg', NULL)
INSERT [dbo].[Materiales] ([id_material], [Nombre], [descripcion], [uom_id]) VALUES (20, N'Cemento Portland CPC40 x 50kg', N'Cemento Portland CPC40 x 50kg', NULL)
SET IDENTITY_INSERT [dbo].[Materiales] OFF
GO
SET IDENTITY_INSERT [dbo].[Operacion] ON 

SET IDENTITY_INSERT [dbo].[Operacion] OFF
GO
SET IDENTITY_INSERT [dbo].[OperacionDependencia] ON 

INSERT [dbo].[OperacionDependencia] ([dependencia_id], [operacion_id], [operacion_predecesora_id], [desfase_hs], [tipo]) VALUES (1, 2, 1, 0, N'FIN_INICIO')
INSERT [dbo].[OperacionDependencia] ([dependencia_id], [operacion_id], [operacion_predecesora_id], [desfase_hs], [tipo]) VALUES (2, 3, 2, 72, N'FIN_INICIO')
INSERT [dbo].[OperacionDependencia] ([dependencia_id], [operacion_id], [operacion_predecesora_id], [desfase_hs], [tipo]) VALUES (3, 4, 2, 0, N'FIN_INICIO')
SET IDENTITY_INSERT [dbo].[OperacionDependencia] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([proveedor_id], [empresa_id], [razon_social], [cuit], [tipo], [rubro], [ubicacion], [score_conformidad], [categoria_abc], [total_entregas], [entregas_en_fecha], [nc_asociadas], [activo], [rubro_id], [email], [telefono], [direccion]) VALUES (4, NULL, N'ddd', N'15-45445454-4', NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 1, 2, N'resioignacio@gmail.com', N'ddd', N'José Riesco 840')
INSERT [dbo].[Proveedor] ([proveedor_id], [empresa_id], [razon_social], [cuit], [tipo], [rubro], [ubicacion], [score_conformidad], [categoria_abc], [total_entregas], [entregas_en_fecha], [nc_asociadas], [activo], [rubro_id], [email], [telefono], [direccion]) VALUES (33, NULL, N'Corralón Nuevo SA', N'30-99999999-1', NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 1, 1, NULL, NULL, NULL)
INSERT [dbo].[Proveedor] ([proveedor_id], [empresa_id], [razon_social], [cuit], [tipo], [rubro], [ubicacion], [score_conformidad], [categoria_abc], [total_entregas], [entregas_en_fecha], [nc_asociadas], [activo], [rubro_id], [email], [telefono], [direccion]) VALUES (34, NULL, N'Materiales Córdoba S.A.', N'30-71234567-8', NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 1, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Proyecto] ON 

INSERT [dbo].[Proyecto] ([proyecto_id], [cliente_id], [nombre], [cliente], [direccion], [fecha_inicio], [fecha_fin_estimada], [estado], [activo]) VALUES (1, 1, N'PROYECTP 001', NULL, N'XXXX', CAST(N'2026-08-11' AS Date), CAST(N'2028-07-11' AS Date), N'ACTIVO', 1)
INSERT [dbo].[Proyecto] ([proyecto_id], [cliente_id], [nombre], [cliente], [direccion], [fecha_inicio], [fecha_fin_estimada], [estado], [activo]) VALUES (2, 1, N'xxxx 1', NULL, N'Argentina | Cordoba | Villa María | XXXX', CAST(N'2026-08-01' AS Date), CAST(N'2028-08-01' AS Date), N'ACTIVO', 1)
SET IDENTITY_INSERT [dbo].[Proyecto] OFF
GO
SET IDENTITY_INSERT [dbo].[registroDecompra] ON 

INSERT [dbo].[registroDecompra] ([registro_compra_id], [proyecto_id], [proveedor_id], [cantidad_pedida], [precio_unitario], [fecha_entrega_esperada], [fecha_entrega_real], [cantidad_real_recibida], [remito_numero], [estado_registroDecompra_id], [observaciones], [activo], [fecha_entrega], [fecha], [numero], [tipo]) VALUES (26, 1, 4, CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, 4, N'Registro editado desde PUT', NULL, CAST(N'2026-07-20T00:00:00.000' AS DateTime), CAST(N'2026-06-25T00:00:00.000' AS DateTime), N'OC-000020-EDITADA', NULL)
SET IDENTITY_INSERT [dbo].[registroDecompra] OFF
GO
SET IDENTITY_INSERT [dbo].[remito] ON 

INSERT [dbo].[remito] ([remito_id], [numero], [fecha], [proveedor_id], [observacion], [activo], [idRegistroDeCompra], [Liberado]) VALUES (6, N'REM-000001', CAST(N'2026-06-28' AS Date), NULL, NULL, 1, 26, 0)
INSERT [dbo].[remito] ([remito_id], [numero], [fecha], [proveedor_id], [observacion], [activo], [idRegistroDeCompra], [Liberado]) VALUES (7, N'REM-000001', CAST(N'2026-06-28' AS Date), NULL, NULL, 1, 26, 0)
INSERT [dbo].[remito] ([remito_id], [numero], [fecha], [proveedor_id], [observacion], [activo], [idRegistroDeCompra], [Liberado]) VALUES (9, N'REM-000001', CAST(N'2026-06-28' AS Date), NULL, NULL, 1, 26, 1)
SET IDENTITY_INSERT [dbo].[remito] OFF
GO
SET IDENTITY_INSERT [dbo].[ResponsableOperacion] ON 

INSERT [dbo].[ResponsableOperacion] ([responsable_id], [codigo], [nombre], [tipo], [activo], [fecha_creacion]) VALUES (1, N'CUA-A', N'Cuadrilla A - Oficial y ayudante', N'CUADRILLA_PROPIA', 1, CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2))
INSERT [dbo].[ResponsableOperacion] ([responsable_id], [codigo], [nombre], [tipo], [activo], [fecha_creacion]) VALUES (2, N'CUA-B', N'Cuadrilla B - Encofrador', N'CUADRILLA_PROPIA', 1, CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2))
INSERT [dbo].[ResponsableOperacion] ([responsable_id], [codigo], [nombre], [tipo], [activo], [fecha_creacion]) VALUES (3, N'CUA-C', N'Cuadrilla C - Fierrero', N'CUADRILLA_PROPIA', 1, CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ResponsableOperacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([rol_id], [nombre], [descripcion], [activo]) VALUES (1, N'ADMIN', N'Administrador del sistema', 0)
INSERT [dbo].[Rol] ([rol_id], [nombre], [descripcion], [activo]) VALUES (2, N'SUPERVISOR', N'Supervisor de proyecto', 0)
INSERT [dbo].[Rol] ([rol_id], [nombre], [descripcion], [activo]) VALUES (3, N'OPERARIO', N'Usuario operativo', 1)
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Rubro] ON 

INSERT [dbo].[Rubro] ([rubro_id], [nombre]) VALUES (1, N'Albañilería')
INSERT [dbo].[Rubro] ([rubro_id], [nombre]) VALUES (2, N'Hormigón')
INSERT [dbo].[Rubro] ([rubro_id], [nombre]) VALUES (3, N'Hierros y aceros')
SET IDENTITY_INSERT [dbo].[Rubro] OFF
GO
SET IDENTITY_INSERT [dbo].[StockGeneral] ON 

INSERT [dbo].[StockGeneral] ([stock_general_id], [id_material], [cantidad_total], [cantidad_disponible], [cantidad_asignada], [activo], [fecha_creacion]) VALUES (4, 18, CAST(50.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2026-06-28T20:24:45.853' AS DateTime))
INSERT [dbo].[StockGeneral] ([stock_general_id], [id_material], [cantidad_total], [cantidad_disponible], [cantidad_asignada], [activo], [fecha_creacion]) VALUES (5, 19, CAST(120.50 AS Decimal(18, 2)), CAST(120.50 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2026-06-28T20:24:45.857' AS DateTime))
INSERT [dbo].[StockGeneral] ([stock_general_id], [id_material], [cantidad_total], [cantidad_disponible], [cantidad_asignada], [activo], [fecha_creacion]) VALUES (6, 22, CAST(36.00 AS Decimal(18, 2)), CAST(26.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 1, CAST(N'2026-07-10T01:52:08.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[StockGeneral] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_restriccion] ON 

INSERT [dbo].[tipo_restriccion] ([tipo_restriccion_id], [codigo], [label_es]) VALUES (1, N'LO_ANTES_POSIBLE', N'Lo antes posible, calculado por dependencias')
INSERT [dbo].[tipo_restriccion] ([tipo_restriccion_id], [codigo], [label_es]) VALUES (2, N'NO_ANTES_DEL', N'No iniciar antes de una fecha mínima')
SET IDENTITY_INSERT [dbo].[tipo_restriccion] OFF
GO
SET IDENTITY_INSERT [dbo].[unidad_avance] ON 

INSERT [dbo].[unidad_avance] ([unidad_avance_id], [codigo], [label_es], [requiere_cantidad_meta], [requiere_foto_cierre]) VALUES (1, N'PORCENTAJE', N'Porcentaje de avance', 0, 0)
INSERT [dbo].[unidad_avance] ([unidad_avance_id], [codigo], [label_es], [requiere_cantidad_meta], [requiere_foto_cierre]) VALUES (2, N'CANTIDAD', N'Cantidad producida', 1, 0)
INSERT [dbo].[unidad_avance] ([unidad_avance_id], [codigo], [label_es], [requiere_cantidad_meta], [requiere_foto_cierre]) VALUES (3, N'BINARIO', N'Hecho / No hecho', 0, 1)
SET IDENTITY_INSERT [dbo].[unidad_avance] OFF
GO
SET IDENTITY_INSERT [dbo].[UoM] ON 

INSERT [dbo].[UoM] ([uom_id], [nombre]) VALUES (1, N'UN')
INSERT [dbo].[UoM] ([uom_id], [nombre]) VALUES (2, N'KG')
INSERT [dbo].[UoM] ([uom_id], [nombre]) VALUES (3, N'GR')
SET IDENTITY_INSERT [dbo].[UoM] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([usuario_id], [empresa_id], [nombre], [email], [activo], [usuario], [password], [rol_id]) VALUES (1, NULL, N'ignacio', N'resioignacio@gamil.com', 1, N'IRE', N'$2b$10$KNAjgQ9JPIFuaEGaBw9DF.wsZLuWJEw4EVG3OVJGayDdrC5SmPiMu', 1)
INSERT [dbo].[Usuario] ([usuario_id], [empresa_id], [nombre], [email], [activo], [usuario], [password], [rol_id]) VALUES (2, NULL, N'BRUNO MARIO BIANCIOTTO', N'BMB@GMAIL.COM', 1, N'BMB', N'$2b$10$FOTtaeVEY.sdcupqtev5mOQ7w1Znmhr.mt/D4.oGL/EbyLbtWCeq6', 2)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[VersionPlan] ON 

INSERT [dbo].[VersionPlan] ([version_id], [proyecto_id], [codigo], [es_activa], [importado_por], [fecha_importacion], [operaciones_nuevas], [operaciones_modificadas], [operaciones_archivadas], [notas]) VALUES (1, 2, N'v1', 0, 1, CAST(N'2026-07-27T19:57:47.0000000' AS DateTime2), 19, 0, 0, NULL)
INSERT [dbo].[VersionPlan] ([version_id], [proyecto_id], [codigo], [es_activa], [importado_por], [fecha_importacion], [operaciones_nuevas], [operaciones_modificadas], [operaciones_archivadas], [notas]) VALUES (2, 2, N'v2', 1, 1, CAST(N'2026-07-27T20:25:06.0000000' AS DateTime2), 19, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[VersionPlan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Accion_Codigo]    Script Date: 28/07/2026 19:50:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Accion_Codigo] ON [dbo].[Accion]
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_AccionRol_Rol_Accion_Entidad]    Script Date: 28/07/2026 19:50:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_AccionRol_Rol_Accion_Entidad] ON [dbo].[Accion_Rol]
(
	[rol_id] ASC,
	[accion_id] ASC,
	[entidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AvanceOperacion_fecha]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_AvanceOperacion_fecha] ON [dbo].[AvanceOperacion]
(
	[fecha_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AvanceOperacion_operacion]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_AvanceOperacion_operacion] ON [dbo].[AvanceOperacion]
(
	[operacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_BomOperacion_linea]    Script Date: 28/07/2026 19:50:56 ******/
ALTER TABLE [dbo].[BomOperacion] ADD  CONSTRAINT [UQ_BomOperacion_linea] UNIQUE NONCLUSTERED 
(
	[operacion_id] ASC,
	[numero_linea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BomOperacion_material]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_BomOperacion_material] ON [dbo].[BomOperacion]
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BomOperacion_operacion]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_BomOperacion_operacion] ON [dbo].[BomOperacion]
(
	[operacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_BomOperacion_material]    Script Date: 28/07/2026 19:50:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_BomOperacion_material] ON [dbo].[BomOperacion]
(
	[operacion_id] ASC,
	[material_id] ASC
)
WHERE ([material_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CalendarioProyecto_proyecto]    Script Date: 28/07/2026 19:50:56 ******/
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [UQ_CalendarioProyecto_proyecto] UNIQUE NONCLUSTERED 
(
	[proyecto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConsumoMaterialOperacion_bom]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_ConsumoMaterialOperacion_bom] ON [dbo].[ConsumoMaterialOperacion]
(
	[bom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConsumoMaterialOperacion_operacion]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_ConsumoMaterialOperacion_operacion] ON [dbo].[ConsumoMaterialOperacion]
(
	[operacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Entidad_Codigo]    Script Date: 28/07/2026 19:50:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Entidad_Codigo] ON [dbo].[Entidad]
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_estado_etapa_codigo]    Script Date: 28/07/2026 19:50:56 ******/
ALTER TABLE [dbo].[estado_etapa] ADD  CONSTRAINT [UQ_estado_etapa_codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_estado_operacion_codigo]    Script Date: 28/07/2026 19:50:56 ******/
ALTER TABLE [dbo].[estado_operacion] ADD  CONSTRAINT [UQ_estado_operacion_codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EtapaOperacion_codigo]    Script Date: 28/07/2026 19:50:56 ******/
ALTER TABLE [dbo].[EtapaOperacion] ADD  CONSTRAINT [UQ_EtapaOperacion_codigo] UNIQUE NONCLUSTERED 
(
	[proyecto_id] ASC,
	[version_id] ASC,
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EtapaOperacion_proyecto]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_EtapaOperacion_proyecto] ON [dbo].[EtapaOperacion]
(
	[proyecto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EtapaOperacion_version]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_EtapaOperacion_version] ON [dbo].[EtapaOperacion]
(
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ExcepcionCalendario_fecha]    Script Date: 28/07/2026 19:50:56 ******/
ALTER TABLE [dbo].[ExcepcionCalendario] ADD  CONSTRAINT [UQ_ExcepcionCalendario_fecha] UNIQUE NONCLUSTERED 
(
	[calendario_id] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExcepcionCalendario_calendario]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_ExcepcionCalendario_calendario] ON [dbo].[ExcepcionCalendario]
(
	[calendario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialNMT_fecha]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialNMT_fecha] ON [dbo].[HistorialNMT]
(
	[fecha_cambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialNMT_operacion]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialNMT_operacion] ON [dbo].[HistorialNMT]
(
	[operacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialOperacion_operacion]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialOperacion_operacion] ON [dbo].[HistorialOperacion]
(
	[operacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Operacion_secuencia]    Script Date: 28/07/2026 19:50:56 ******/
ALTER TABLE [dbo].[Operacion] ADD  CONSTRAINT [UQ_Operacion_secuencia] UNIQUE NONCLUSTERED 
(
	[proyecto_id] ASC,
	[version_id] ASC,
	[secuencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Operacion_estado]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_Operacion_estado] ON [dbo].[Operacion]
(
	[estado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Operacion_etapa]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_Operacion_etapa] ON [dbo].[Operacion]
(
	[etapa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Operacion_proyecto]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_Operacion_proyecto] ON [dbo].[Operacion]
(
	[proyecto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Operacion_responsable]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_Operacion_responsable] ON [dbo].[Operacion]
(
	[responsable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_OperacionDependencia]    Script Date: 28/07/2026 19:50:56 ******/
ALTER TABLE [dbo].[OperacionDependencia] ADD  CONSTRAINT [UQ_OperacionDependencia] UNIQUE NONCLUSTERED 
(
	[operacion_id] ASC,
	[operacion_predecesora_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OperacionDependencia_predecesora]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_OperacionDependencia_predecesora] ON [dbo].[OperacionDependencia]
(
	[operacion_predecesora_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ResponsableOperacion_codigo]    Script Date: 28/07/2026 19:50:56 ******/
ALTER TABLE [dbo].[ResponsableOperacion] ADD  CONSTRAINT [UQ_ResponsableOperacion_codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Rol_Nombre]    Script Date: 28/07/2026 19:50:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Rol_Nombre] ON [dbo].[Rol]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_StockGeneral_Material]    Script Date: 28/07/2026 19:50:56 ******/
ALTER TABLE [dbo].[StockGeneral] ADD  CONSTRAINT [UQ_StockGeneral_Material] UNIQUE NONCLUSTERED 
(
	[id_material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tipo_restriccion_codigo]    Script Date: 28/07/2026 19:50:56 ******/
ALTER TABLE [dbo].[tipo_restriccion] ADD  CONSTRAINT [UQ_tipo_restriccion_codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_unidad_avance_codigo]    Script Date: 28/07/2026 19:50:56 ******/
ALTER TABLE [dbo].[unidad_avance] ADD  CONSTRAINT [UQ_unidad_avance_codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Usuario_Usuario]    Script Date: 28/07/2026 19:50:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Usuario_Usuario] ON [dbo].[Usuario]
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_VersionPlan_proyecto_codigo]    Script Date: 28/07/2026 19:50:56 ******/
ALTER TABLE [dbo].[VersionPlan] ADD  CONSTRAINT [UQ_VersionPlan_proyecto_codigo] UNIQUE NONCLUSTERED 
(
	[proyecto_id] ASC,
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VersionPlan_proyecto]    Script Date: 28/07/2026 19:50:56 ******/
CREATE NONCLUSTERED INDEX [IX_VersionPlan_proyecto] ON [dbo].[VersionPlan]
(
	[proyecto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accion] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Accion_Rol] ADD  DEFAULT ((1)) FOR [permitido]
GO
ALTER TABLE [dbo].[AvanceOperacion] ADD  CONSTRAINT [DF_avance_anterior]  DEFAULT ((0.00)) FOR [pct_avance_anterior]
GO
ALTER TABLE [dbo].[AvanceOperacion] ADD  CONSTRAINT [DF_avance_creacion]  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[AvanceOperacion] ADD  CONSTRAINT [DF_avance_primero]  DEFAULT ((0)) FOR [es_primer_avance]
GO
ALTER TABLE [dbo].[AvanceOperacion] ADD  CONSTRAINT [DF_avance_correccion]  DEFAULT ((0)) FOR [es_correccion]
GO
ALTER TABLE [dbo].[BomOperacion] ADD  CONSTRAINT [DF_bom_preaviso]  DEFAULT ((0)) FOR [preaviso_dias]
GO
ALTER TABLE [dbo].[BomOperacion] ADD  CONSTRAINT [DF_bom_sin_codigo]  DEFAULT ((1)) FOR [sin_codigo]
GO
ALTER TABLE [dbo].[BomOperacion] ADD  CONSTRAINT [DF_bom_creacion]  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[BomOperacion] ADD  CONSTRAINT [DF_bom_actualizacion]  DEFAULT (sysdatetime()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_lunes]  DEFAULT ((1)) FOR [lunes]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_martes]  DEFAULT ((1)) FOR [martes]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_miercoles]  DEFAULT ((1)) FOR [miercoles]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_jueves]  DEFAULT ((1)) FOR [jueves]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_viernes]  DEFAULT ((1)) FOR [viernes]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_sabado]  DEFAULT ((0)) FOR [sabado]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_domingo]  DEFAULT ((0)) FOR [domingo]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_hs_jornada]  DEFAULT ((9.00)) FOR [hs_jornada_estandar]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_hora_inicio]  DEFAULT ('08:00') FOR [hora_inicio]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_hora_fin]  DEFAULT ('17:00') FOR [hora_fin]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_hs_almuerzo]  DEFAULT ((0.00)) FOR [hs_almuerzo]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_zona]  DEFAULT (N'America/Argentina/Buenos_Aires') FOR [zona_horaria]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_creacion]  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_cal_actualizacion]  DEFAULT (sysdatetime()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_Calendario_tipo_lunes]  DEFAULT ((1)) FOR [tipo_lunes]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_Calendario_tipo_martes]  DEFAULT ((1)) FOR [tipo_martes]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_Calendario_tipo_miercoles]  DEFAULT ((1)) FOR [tipo_miercoles]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_Calendario_tipo_jueves]  DEFAULT ((1)) FOR [tipo_jueves]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_Calendario_tipo_viernes]  DEFAULT ((1)) FOR [tipo_viernes]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_Calendario_tipo_sabado]  DEFAULT ((0)) FOR [tipo_sabado]
GO
ALTER TABLE [dbo].[CalendarioProyecto] ADD  CONSTRAINT [DF_Calendario_tipo_domingo]  DEFAULT ((0)) FOR [tipo_domingo]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion] ADD  CONSTRAINT [DF_consumo_fecha]  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[container] ADD  DEFAULT ((0)) FOR [cantidad_actual]
GO
ALTER TABLE [dbo].[container] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Entidad] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[estado_etapa] ADD  CONSTRAINT [DF_estado_etapa_color]  DEFAULT ('#94a3bc') FOR [color_hex]
GO
ALTER TABLE [dbo].[estado_operacion] ADD  CONSTRAINT [DF_estado_operacion_color]  DEFAULT ('#94a3bc') FOR [color_hex]
GO
ALTER TABLE [dbo].[estado_operacion] ADD  CONSTRAINT [DF_estado_operacion_terminal]  DEFAULT ((0)) FOR [es_terminal]
GO
ALTER TABLE [dbo].[estado_registroDecompra] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[EtapaOperacion] ADD  CONSTRAINT [DF_etapa_orden]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[EtapaOperacion] ADD  CONSTRAINT [DF_etapa_peso]  DEFAULT ((0.00)) FOR [peso_pct]
GO
ALTER TABLE [dbo].[EtapaOperacion] ADD  CONSTRAINT [DF_etapa_avance]  DEFAULT ((0.00)) FOR [pct_avance]
GO
ALTER TABLE [dbo].[EtapaOperacion] ADD  CONSTRAINT [DF_etapa_creacion]  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[EtapaOperacion] ADD  CONSTRAINT [DF_etapa_actualizacion]  DEFAULT (sysdatetime()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[ExcepcionCalendario] ADD  CONSTRAINT [DF_excepcion_hs]  DEFAULT ((0.00)) FOR [hs_disponibles]
GO
ALTER TABLE [dbo].[ExcepcionCalendario] ADD  CONSTRAINT [DF_excepcion_recuperable]  DEFAULT ((0)) FOR [recuperable]
GO
ALTER TABLE [dbo].[ExcepcionCalendario] ADD  CONSTRAINT [DF_excepcion_creacion]  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[HistorialNMT] ADD  CONSTRAINT [DF_HistorialNMT_fecha]  DEFAULT (sysdatetime()) FOR [fecha_cambio]
GO
ALTER TABLE [dbo].[HistorialOperacion] ADD  CONSTRAINT [DF_historial_fecha]  DEFAULT (sysdatetime()) FOR [fecha_cambio]
GO
ALTER TABLE [dbo].[Operacion] ADD  CONSTRAINT [DF_operacion_desfase]  DEFAULT ((0)) FOR [desfase_inicio_hs]
GO
ALTER TABLE [dbo].[Operacion] ADD  CONSTRAINT [DF_operacion_peso]  DEFAULT ((0.00)) FOR [peso_pct]
GO
ALTER TABLE [dbo].[Operacion] ADD  CONSTRAINT [DF_operacion_avance]  DEFAULT ((0.00)) FOR [pct_avance_actual]
GO
ALTER TABLE [dbo].[Operacion] ADD  CONSTRAINT [DF_operacion_cantidad]  DEFAULT ((0.00)) FOR [cantidad_acumulada]
GO
ALTER TABLE [dbo].[Operacion] ADD  CONSTRAINT [DF_operacion_archivada]  DEFAULT ((0)) FOR [archivada]
GO
ALTER TABLE [dbo].[Operacion] ADD  CONSTRAINT [DF_operacion_creacion]  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Operacion] ADD  CONSTRAINT [DF_operacion_actualizacion]  DEFAULT (sysdatetime()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[OperacionDependencia] ADD  CONSTRAINT [DF_dependencia_desfase]  DEFAULT ((0)) FOR [desfase_hs]
GO
ALTER TABLE [dbo].[OperacionDependencia] ADD  CONSTRAINT [DF_dependencia_tipo]  DEFAULT (N'FIN_INICIO') FOR [tipo]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ((0)) FOR [total_entregas]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ((0)) FOR [entregas_en_fecha]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ((0)) FOR [nc_asociadas]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Proyecto] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Proyecto] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[remito] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[remito] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ResponsableOperacion] ADD  CONSTRAINT [DF_responsable_tipo]  DEFAULT (N'CUADRILLA_PROPIA') FOR [tipo]
GO
ALTER TABLE [dbo].[ResponsableOperacion] ADD  CONSTRAINT [DF_responsable_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ResponsableOperacion] ADD  CONSTRAINT [DF_responsable_fecha]  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[StockGeneral] ADD  DEFAULT ((0)) FOR [cantidad_total]
GO
ALTER TABLE [dbo].[StockGeneral] ADD  DEFAULT ((0)) FOR [cantidad_disponible]
GO
ALTER TABLE [dbo].[StockGeneral] ADD  DEFAULT ((0)) FOR [cantidad_asignada]
GO
ALTER TABLE [dbo].[StockGeneral] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[StockGeneral] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[unidad_avance] ADD  CONSTRAINT [DF_unidad_avance_meta]  DEFAULT ((0)) FOR [requiere_cantidad_meta]
GO
ALTER TABLE [dbo].[unidad_avance] ADD  CONSTRAINT [DF_unidad_avance_foto]  DEFAULT ((0)) FOR [requiere_foto_cierre]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuario_Proyecto] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[VersionPlan] ADD  CONSTRAINT [DF_version_activa]  DEFAULT ((1)) FOR [es_activa]
GO
ALTER TABLE [dbo].[VersionPlan] ADD  CONSTRAINT [DF_version_fecha]  DEFAULT (sysdatetime()) FOR [fecha_importacion]
GO
ALTER TABLE [dbo].[VersionPlan] ADD  CONSTRAINT [DF_version_nuevas]  DEFAULT ((0)) FOR [operaciones_nuevas]
GO
ALTER TABLE [dbo].[VersionPlan] ADD  CONSTRAINT [DF_version_modificadas]  DEFAULT ((0)) FOR [operaciones_modificadas]
GO
ALTER TABLE [dbo].[VersionPlan] ADD  CONSTRAINT [DF_version_archivadas]  DEFAULT ((0)) FOR [operaciones_archivadas]
GO
ALTER TABLE [dbo].[Accion_Rol]  WITH CHECK ADD  CONSTRAINT [FK_AccionRol_Accion] FOREIGN KEY([accion_id])
REFERENCES [dbo].[Accion] ([accion_id])
GO
ALTER TABLE [dbo].[Accion_Rol] CHECK CONSTRAINT [FK_AccionRol_Accion]
GO
ALTER TABLE [dbo].[Accion_Rol]  WITH CHECK ADD  CONSTRAINT [FK_AccionRol_Entidad] FOREIGN KEY([entidad_id])
REFERENCES [dbo].[Entidad] ([entidad_id])
GO
ALTER TABLE [dbo].[Accion_Rol] CHECK CONSTRAINT [FK_AccionRol_Entidad]
GO
ALTER TABLE [dbo].[Accion_Rol]  WITH CHECK ADD  CONSTRAINT [FK_AccionRol_Rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[Rol] ([rol_id])
GO
ALTER TABLE [dbo].[Accion_Rol] CHECK CONSTRAINT [FK_AccionRol_Rol]
GO
ALTER TABLE [dbo].[AvanceOperacion]  WITH CHECK ADD  CONSTRAINT [FK_AvanceOperacion_Corregido] FOREIGN KEY([avance_corregido_id])
REFERENCES [dbo].[AvanceOperacion] ([avance_id])
GO
ALTER TABLE [dbo].[AvanceOperacion] CHECK CONSTRAINT [FK_AvanceOperacion_Corregido]
GO
ALTER TABLE [dbo].[AvanceOperacion]  WITH CHECK ADD  CONSTRAINT [FK_AvanceOperacion_Operacion] FOREIGN KEY([operacion_id])
REFERENCES [dbo].[Operacion] ([operacion_id])
GO
ALTER TABLE [dbo].[AvanceOperacion] CHECK CONSTRAINT [FK_AvanceOperacion_Operacion]
GO
ALTER TABLE [dbo].[AvanceOperacion]  WITH CHECK ADD  CONSTRAINT [FK_AvanceOperacion_Proyecto] FOREIGN KEY([proyecto_id])
REFERENCES [dbo].[Proyecto] ([proyecto_id])
GO
ALTER TABLE [dbo].[AvanceOperacion] CHECK CONSTRAINT [FK_AvanceOperacion_Proyecto]
GO
ALTER TABLE [dbo].[AvanceOperacion]  WITH CHECK ADD  CONSTRAINT [FK_AvanceOperacion_Usuario] FOREIGN KEY([registrado_por])
REFERENCES [dbo].[Usuario] ([usuario_id])
GO
ALTER TABLE [dbo].[AvanceOperacion] CHECK CONSTRAINT [FK_AvanceOperacion_Usuario]
GO
ALTER TABLE [dbo].[BomOperacion]  WITH CHECK ADD  CONSTRAINT [FK_BomOperacion_Material] FOREIGN KEY([material_id])
REFERENCES [dbo].[Materiales] ([id_material])
GO
ALTER TABLE [dbo].[BomOperacion] CHECK CONSTRAINT [FK_BomOperacion_Material]
GO
ALTER TABLE [dbo].[BomOperacion]  WITH CHECK ADD  CONSTRAINT [FK_BomOperacion_Operacion] FOREIGN KEY([operacion_id])
REFERENCES [dbo].[Operacion] ([operacion_id])
GO
ALTER TABLE [dbo].[BomOperacion] CHECK CONSTRAINT [FK_BomOperacion_Operacion]
GO
ALTER TABLE [dbo].[BomOperacion]  WITH CHECK ADD  CONSTRAINT [FK_BomOperacion_Proyecto] FOREIGN KEY([proyecto_id])
REFERENCES [dbo].[Proyecto] ([proyecto_id])
GO
ALTER TABLE [dbo].[BomOperacion] CHECK CONSTRAINT [FK_BomOperacion_Proyecto]
GO
ALTER TABLE [dbo].[BomOperacion]  WITH CHECK ADD  CONSTRAINT [FK_BomOperacion_UoM] FOREIGN KEY([uom_id])
REFERENCES [dbo].[UoM] ([uom_id])
GO
ALTER TABLE [dbo].[BomOperacion] CHECK CONSTRAINT [FK_BomOperacion_UoM]
GO
ALTER TABLE [dbo].[CalendarioProyecto]  WITH CHECK ADD  CONSTRAINT [FK_CalendarioProyecto_Proyecto] FOREIGN KEY([proyecto_id])
REFERENCES [dbo].[Proyecto] ([proyecto_id])
GO
ALTER TABLE [dbo].[CalendarioProyecto] CHECK CONSTRAINT [FK_CalendarioProyecto_Proyecto]
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion]  WITH CHECK ADD  CONSTRAINT [FK_ConsumoMaterialOperacion_Avance] FOREIGN KEY([avance_id])
REFERENCES [dbo].[AvanceOperacion] ([avance_id])
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion] CHECK CONSTRAINT [FK_ConsumoMaterialOperacion_Avance]
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion]  WITH CHECK ADD  CONSTRAINT [FK_ConsumoMaterialOperacion_Bom] FOREIGN KEY([bom_id])
REFERENCES [dbo].[BomOperacion] ([bom_id])
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion] CHECK CONSTRAINT [FK_ConsumoMaterialOperacion_Bom]
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion]  WITH CHECK ADD  CONSTRAINT [FK_ConsumoMaterialOperacion_Operacion] FOREIGN KEY([operacion_id])
REFERENCES [dbo].[Operacion] ([operacion_id])
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion] CHECK CONSTRAINT [FK_ConsumoMaterialOperacion_Operacion]
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion]  WITH CHECK ADD  CONSTRAINT [FK_ConsumoMaterialOperacion_Proyecto] FOREIGN KEY([proyecto_id])
REFERENCES [dbo].[Proyecto] ([proyecto_id])
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion] CHECK CONSTRAINT [FK_ConsumoMaterialOperacion_Proyecto]
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion]  WITH CHECK ADD  CONSTRAINT [FK_ConsumoMaterialOperacion_UoM] FOREIGN KEY([uom_id])
REFERENCES [dbo].[UoM] ([uom_id])
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion] CHECK CONSTRAINT [FK_ConsumoMaterialOperacion_UoM]
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion]  WITH CHECK ADD  CONSTRAINT [FK_ConsumoMaterialOperacion_Usuario] FOREIGN KEY([registrado_por])
REFERENCES [dbo].[Usuario] ([usuario_id])
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion] CHECK CONSTRAINT [FK_ConsumoMaterialOperacion_Usuario]
GO
ALTER TABLE [dbo].[container]  WITH CHECK ADD  CONSTRAINT [FK_container_Proyecto] FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[Proyecto] ([proyecto_id])
GO
ALTER TABLE [dbo].[container] CHECK CONSTRAINT [FK_container_Proyecto]
GO
ALTER TABLE [dbo].[Detalle_RegistroDeCompra]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_OC_Materiales] FOREIGN KEY([id_material])
REFERENCES [dbo].[Materiales] ([id_material])
GO
ALTER TABLE [dbo].[Detalle_RegistroDeCompra] CHECK CONSTRAINT [FK_Detalle_OC_Materiales]
GO
ALTER TABLE [dbo].[Detalle_RegistroDeCompra]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_OC_registroDecompra] FOREIGN KEY([id_oc])
REFERENCES [dbo].[registroDecompra] ([registro_compra_id])
GO
ALTER TABLE [dbo].[Detalle_RegistroDeCompra] CHECK CONSTRAINT [FK_Detalle_OC_registroDecompra]
GO
ALTER TABLE [dbo].[detalle_remito]  WITH CHECK ADD  CONSTRAINT [FK_detalle_remito_remito] FOREIGN KEY([remito_id])
REFERENCES [dbo].[remito] ([remito_id])
GO
ALTER TABLE [dbo].[detalle_remito] CHECK CONSTRAINT [FK_detalle_remito_remito]
GO
ALTER TABLE [dbo].[EtapaOperacion]  WITH CHECK ADD  CONSTRAINT [FK_EtapaOperacion_Estado] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estado_etapa] ([estado_id])
GO
ALTER TABLE [dbo].[EtapaOperacion] CHECK CONSTRAINT [FK_EtapaOperacion_Estado]
GO
ALTER TABLE [dbo].[EtapaOperacion]  WITH CHECK ADD  CONSTRAINT [FK_EtapaOperacion_Proyecto] FOREIGN KEY([proyecto_id])
REFERENCES [dbo].[Proyecto] ([proyecto_id])
GO
ALTER TABLE [dbo].[EtapaOperacion] CHECK CONSTRAINT [FK_EtapaOperacion_Proyecto]
GO
ALTER TABLE [dbo].[EtapaOperacion]  WITH CHECK ADD  CONSTRAINT [FK_EtapaOperacion_Version] FOREIGN KEY([version_id])
REFERENCES [dbo].[VersionPlan] ([version_id])
GO
ALTER TABLE [dbo].[EtapaOperacion] CHECK CONSTRAINT [FK_EtapaOperacion_Version]
GO
ALTER TABLE [dbo].[ExcepcionCalendario]  WITH CHECK ADD  CONSTRAINT [FK_ExcepcionCalendario_Calendario] FOREIGN KEY([calendario_id])
REFERENCES [dbo].[CalendarioProyecto] ([calendario_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExcepcionCalendario] CHECK CONSTRAINT [FK_ExcepcionCalendario_Calendario]
GO
ALTER TABLE [dbo].[HistorialNMT]  WITH CHECK ADD  CONSTRAINT [FK_HistorialNMT_Operacion] FOREIGN KEY([operacion_id])
REFERENCES [dbo].[Operacion] ([operacion_id])
GO
ALTER TABLE [dbo].[HistorialNMT] CHECK CONSTRAINT [FK_HistorialNMT_Operacion]
GO
ALTER TABLE [dbo].[HistorialNMT]  WITH CHECK ADD  CONSTRAINT [FK_HistorialNMT_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([usuario_id])
GO
ALTER TABLE [dbo].[HistorialNMT] CHECK CONSTRAINT [FK_HistorialNMT_Usuario]
GO
ALTER TABLE [dbo].[HistorialOperacion]  WITH CHECK ADD  CONSTRAINT [FK_HistorialOperacion_Operacion] FOREIGN KEY([operacion_id])
REFERENCES [dbo].[Operacion] ([operacion_id])
GO
ALTER TABLE [dbo].[HistorialOperacion] CHECK CONSTRAINT [FK_HistorialOperacion_Operacion]
GO
ALTER TABLE [dbo].[HistorialOperacion]  WITH CHECK ADD  CONSTRAINT [FK_HistorialOperacion_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([usuario_id])
GO
ALTER TABLE [dbo].[HistorialOperacion] CHECK CONSTRAINT [FK_HistorialOperacion_Usuario]
GO
ALTER TABLE [dbo].[Materiales]  WITH CHECK ADD  CONSTRAINT [FK_Materiales_UoM] FOREIGN KEY([uom_id])
REFERENCES [dbo].[UoM] ([uom_id])
GO
ALTER TABLE [dbo].[Materiales] CHECK CONSTRAINT [FK_Materiales_UoM]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [FK_Operacion_Estado] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estado_operacion] ([estado_id])
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [FK_Operacion_Estado]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [FK_Operacion_Etapa] FOREIGN KEY([etapa_id])
REFERENCES [dbo].[EtapaOperacion] ([etapa_id])
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [FK_Operacion_Etapa]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [FK_Operacion_Proyecto] FOREIGN KEY([proyecto_id])
REFERENCES [dbo].[Proyecto] ([proyecto_id])
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [FK_Operacion_Proyecto]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [FK_Operacion_Responsable] FOREIGN KEY([responsable_id])
REFERENCES [dbo].[ResponsableOperacion] ([responsable_id])
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [FK_Operacion_Responsable]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [FK_Operacion_TipoRestriccion] FOREIGN KEY([tipo_restriccion_id])
REFERENCES [dbo].[tipo_restriccion] ([tipo_restriccion_id])
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [FK_Operacion_TipoRestriccion]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [FK_Operacion_UnidadAvance] FOREIGN KEY([unidad_avance_id])
REFERENCES [dbo].[unidad_avance] ([unidad_avance_id])
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [FK_Operacion_UnidadAvance]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [FK_Operacion_Version] FOREIGN KEY([version_id])
REFERENCES [dbo].[VersionPlan] ([version_id])
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [FK_Operacion_Version]
GO
ALTER TABLE [dbo].[OperacionDependencia]  WITH CHECK ADD  CONSTRAINT [FK_OperacionDependencia_Operacion] FOREIGN KEY([operacion_id])
REFERENCES [dbo].[Operacion] ([operacion_id])
GO
ALTER TABLE [dbo].[OperacionDependencia] CHECK CONSTRAINT [FK_OperacionDependencia_Operacion]
GO
ALTER TABLE [dbo].[OperacionDependencia]  WITH CHECK ADD  CONSTRAINT [FK_OperacionDependencia_Predecessora] FOREIGN KEY([operacion_predecesora_id])
REFERENCES [dbo].[Operacion] ([operacion_id])
GO
ALTER TABLE [dbo].[OperacionDependencia] CHECK CONSTRAINT [FK_OperacionDependencia_Predecessora]
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Rubro] FOREIGN KEY([rubro_id])
REFERENCES [dbo].[Rubro] ([rubro_id])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_Proveedor_Rubro]
GO
ALTER TABLE [dbo].[registroDecompra]  WITH CHECK ADD  CONSTRAINT [FK_registroDecompra_estado_oc] FOREIGN KEY([estado_registroDecompra_id])
REFERENCES [dbo].[estado_registroDecompra] ([estado_registroDecompra_id])
GO
ALTER TABLE [dbo].[registroDecompra] CHECK CONSTRAINT [FK_registroDecompra_estado_oc]
GO
ALTER TABLE [dbo].[registroDecompra]  WITH CHECK ADD  CONSTRAINT [FK_registroDecompra_Proveedor] FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[Proveedor] ([proveedor_id])
GO
ALTER TABLE [dbo].[registroDecompra] CHECK CONSTRAINT [FK_registroDecompra_Proveedor]
GO
ALTER TABLE [dbo].[remito]  WITH CHECK ADD  CONSTRAINT [FK_remito_Proveedor] FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[Proveedor] ([proveedor_id])
GO
ALTER TABLE [dbo].[remito] CHECK CONSTRAINT [FK_remito_Proveedor]
GO
ALTER TABLE [dbo].[remito]  WITH CHECK ADD  CONSTRAINT [FK_remito_registroDecompra] FOREIGN KEY([idRegistroDeCompra])
REFERENCES [dbo].[registroDecompra] ([registro_compra_id])
GO
ALTER TABLE [dbo].[remito] CHECK CONSTRAINT [FK_remito_registroDecompra]
GO
ALTER TABLE [dbo].[StockGeneral]  WITH CHECK ADD  CONSTRAINT [FK_StockGeneral_Materiales] FOREIGN KEY([id_material])
REFERENCES [dbo].[Materiales] ([id_material])
GO
ALTER TABLE [dbo].[StockGeneral] CHECK CONSTRAINT [FK_StockGeneral_Materiales]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[Rol] ([rol_id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Usuario_Proyecto]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioProyecto_Proyecto] FOREIGN KEY([proyecto_id])
REFERENCES [dbo].[Proyecto] ([proyecto_id])
GO
ALTER TABLE [dbo].[Usuario_Proyecto] CHECK CONSTRAINT [FK_UsuarioProyecto_Proyecto]
GO
ALTER TABLE [dbo].[Usuario_Proyecto]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioProyecto_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([usuario_id])
GO
ALTER TABLE [dbo].[Usuario_Proyecto] CHECK CONSTRAINT [FK_UsuarioProyecto_Usuario]
GO
ALTER TABLE [dbo].[VersionPlan]  WITH CHECK ADD  CONSTRAINT [FK_VersionPlan_Proyecto] FOREIGN KEY([proyecto_id])
REFERENCES [dbo].[Proyecto] ([proyecto_id])
GO
ALTER TABLE [dbo].[VersionPlan] CHECK CONSTRAINT [FK_VersionPlan_Proyecto]
GO
ALTER TABLE [dbo].[VersionPlan]  WITH CHECK ADD  CONSTRAINT [FK_VersionPlan_Usuario] FOREIGN KEY([importado_por])
REFERENCES [dbo].[Usuario] ([usuario_id])
GO
ALTER TABLE [dbo].[VersionPlan] CHECK CONSTRAINT [FK_VersionPlan_Usuario]
GO
ALTER TABLE [dbo].[AvanceOperacion]  WITH CHECK ADD  CONSTRAINT [CK_AvanceOperacion_anterior] CHECK  (([pct_avance_anterior]>=(0) AND [pct_avance_anterior]<=(100)))
GO
ALTER TABLE [dbo].[AvanceOperacion] CHECK CONSTRAINT [CK_AvanceOperacion_anterior]
GO
ALTER TABLE [dbo].[AvanceOperacion]  WITH CHECK ADD  CONSTRAINT [CK_AvanceOperacion_cantidad] CHECK  (([cantidad_hoy] IS NULL OR [cantidad_hoy]>(0)))
GO
ALTER TABLE [dbo].[AvanceOperacion] CHECK CONSTRAINT [CK_AvanceOperacion_cantidad]
GO
ALTER TABLE [dbo].[AvanceOperacion]  WITH CHECK ADD  CONSTRAINT [CK_AvanceOperacion_correccion] CHECK  (([es_correccion]=(0) AND [avance_corregido_id] IS NULL OR [es_correccion]=(1) AND [avance_corregido_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[AvanceOperacion] CHECK CONSTRAINT [CK_AvanceOperacion_correccion]
GO
ALTER TABLE [dbo].[AvanceOperacion]  WITH CHECK ADD  CONSTRAINT [CK_AvanceOperacion_fecha] CHECK  (([fecha_registro]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[AvanceOperacion] CHECK CONSTRAINT [CK_AvanceOperacion_fecha]
GO
ALTER TABLE [dbo].[AvanceOperacion]  WITH CHECK ADD  CONSTRAINT [CK_AvanceOperacion_inicio_real] CHECK  (([fecha_inicio_real_declarada] IS NULL OR [fecha_inicio_real_declarada]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[AvanceOperacion] CHECK CONSTRAINT [CK_AvanceOperacion_inicio_real]
GO
ALTER TABLE [dbo].[AvanceOperacion]  WITH CHECK ADD  CONSTRAINT [CK_AvanceOperacion_nuevo] CHECK  (([pct_avance_nuevo]>=(0) AND [pct_avance_nuevo]<=(100)))
GO
ALTER TABLE [dbo].[AvanceOperacion] CHECK CONSTRAINT [CK_AvanceOperacion_nuevo]
GO
ALTER TABLE [dbo].[BomOperacion]  WITH CHECK ADD  CONSTRAINT [CK_BomOperacion_cantidad] CHECK  (([cantidad_teorica]>(0)))
GO
ALTER TABLE [dbo].[BomOperacion] CHECK CONSTRAINT [CK_BomOperacion_cantidad]
GO
ALTER TABLE [dbo].[BomOperacion]  WITH CHECK ADD  CONSTRAINT [CK_BomOperacion_codigo] CHECK  (([sin_codigo]=(1) AND [material_id] IS NULL OR [sin_codigo]=(0) AND [material_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[BomOperacion] CHECK CONSTRAINT [CK_BomOperacion_codigo]
GO
ALTER TABLE [dbo].[BomOperacion]  WITH CHECK ADD  CONSTRAINT [CK_BomOperacion_preaviso] CHECK  (([preaviso_dias]>=(0)))
GO
ALTER TABLE [dbo].[BomOperacion] CHECK CONSTRAINT [CK_BomOperacion_preaviso]
GO
ALTER TABLE [dbo].[CalendarioProyecto]  WITH CHECK ADD  CONSTRAINT [CHK_Calendario_tipos_jornada] CHECK  (([tipo_lunes]>=(0) AND [tipo_lunes]<=(2) AND ([tipo_martes]>=(0) AND [tipo_martes]<=(2)) AND ([tipo_miercoles]>=(0) AND [tipo_miercoles]<=(2)) AND ([tipo_jueves]>=(0) AND [tipo_jueves]<=(2)) AND ([tipo_viernes]>=(0) AND [tipo_viernes]<=(2)) AND ([tipo_sabado]>=(0) AND [tipo_sabado]<=(2)) AND ([tipo_domingo]>=(0) AND [tipo_domingo]<=(2))))
GO
ALTER TABLE [dbo].[CalendarioProyecto] CHECK CONSTRAINT [CHK_Calendario_tipos_jornada]
GO
ALTER TABLE [dbo].[CalendarioProyecto]  WITH CHECK ADD  CONSTRAINT [CK_CalendarioProyecto_almuerzo] CHECK  (([hs_almuerzo]>=(0)))
GO
ALTER TABLE [dbo].[CalendarioProyecto] CHECK CONSTRAINT [CK_CalendarioProyecto_almuerzo]
GO
ALTER TABLE [dbo].[CalendarioProyecto]  WITH CHECK ADD  CONSTRAINT [CK_CalendarioProyecto_dia] CHECK  (([lunes]=(1) OR [martes]=(1) OR [miercoles]=(1) OR [jueves]=(1) OR [viernes]=(1) OR [sabado]=(1) OR [domingo]=(1)))
GO
ALTER TABLE [dbo].[CalendarioProyecto] CHECK CONSTRAINT [CK_CalendarioProyecto_dia]
GO
ALTER TABLE [dbo].[CalendarioProyecto]  WITH CHECK ADD  CONSTRAINT [CK_CalendarioProyecto_horario] CHECK  (([hora_fin]>[hora_inicio]))
GO
ALTER TABLE [dbo].[CalendarioProyecto] CHECK CONSTRAINT [CK_CalendarioProyecto_horario]
GO
ALTER TABLE [dbo].[CalendarioProyecto]  WITH CHECK ADD  CONSTRAINT [CK_CalendarioProyecto_jornada] CHECK  (([hs_jornada_estandar]>(0)))
GO
ALTER TABLE [dbo].[CalendarioProyecto] CHECK CONSTRAINT [CK_CalendarioProyecto_jornada]
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion]  WITH CHECK ADD  CONSTRAINT [CK_ConsumoMaterialOperacion_cantidad] CHECK  (([cantidad_consumida]>(0)))
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion] CHECK CONSTRAINT [CK_ConsumoMaterialOperacion_cantidad]
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion]  WITH CHECK ADD  CONSTRAINT [CK_ConsumoMaterialOperacion_fecha] CHECK  (([fecha_consumo]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[ConsumoMaterialOperacion] CHECK CONSTRAINT [CK_ConsumoMaterialOperacion_fecha]
GO
ALTER TABLE [dbo].[estado_etapa]  WITH CHECK ADD  CONSTRAINT [CK_estado_etapa_color] CHECK  ((len([color_hex])=(7) AND left([color_hex],(1))='#' AND NOT [color_hex] like '%[^#0-9A-Fa-f]%'))
GO
ALTER TABLE [dbo].[estado_etapa] CHECK CONSTRAINT [CK_estado_etapa_color]
GO
ALTER TABLE [dbo].[estado_operacion]  WITH CHECK ADD  CONSTRAINT [CK_estado_operacion_color] CHECK  ((len([color_hex])=(7) AND left([color_hex],(1))='#' AND NOT [color_hex] like '%[^#0-9A-Fa-f]%'))
GO
ALTER TABLE [dbo].[estado_operacion] CHECK CONSTRAINT [CK_estado_operacion_color]
GO
ALTER TABLE [dbo].[EtapaOperacion]  WITH CHECK ADD  CONSTRAINT [CK_EtapaOperacion_avance] CHECK  (([pct_avance]>=(0) AND [pct_avance]<=(100)))
GO
ALTER TABLE [dbo].[EtapaOperacion] CHECK CONSTRAINT [CK_EtapaOperacion_avance]
GO
ALTER TABLE [dbo].[EtapaOperacion]  WITH CHECK ADD  CONSTRAINT [CK_EtapaOperacion_peso] CHECK  (([peso_pct]>=(0) AND [peso_pct]<=(100)))
GO
ALTER TABLE [dbo].[EtapaOperacion] CHECK CONSTRAINT [CK_EtapaOperacion_peso]
GO
ALTER TABLE [dbo].[ExcepcionCalendario]  WITH CHECK ADD  CONSTRAINT [CK_ExcepcionCalendario_hs] CHECK  (([hs_disponibles]>=(0)))
GO
ALTER TABLE [dbo].[ExcepcionCalendario] CHECK CONSTRAINT [CK_ExcepcionCalendario_hs]
GO
ALTER TABLE [dbo].[ExcepcionCalendario]  WITH CHECK ADD  CONSTRAINT [CK_ExcepcionCalendario_tipo] CHECK  (([tipo]=N'JORNADA_EXTENDIDA' OR [tipo]=N'JORNADA_REDUCIDA' OR [tipo]=N'FERIADO'))
GO
ALTER TABLE [dbo].[ExcepcionCalendario] CHECK CONSTRAINT [CK_ExcepcionCalendario_tipo]
GO
ALTER TABLE [dbo].[HistorialNMT]  WITH CHECK ADD  CONSTRAINT [CK_HistorialNMT_cambio] CHECK  (([fecha_nmt_anterior] IS NOT NULL OR [fecha_nmt_nueva] IS NOT NULL))
GO
ALTER TABLE [dbo].[HistorialNMT] CHECK CONSTRAINT [CK_HistorialNMT_cambio]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [CK_Operacion_avance] CHECK  (([pct_avance_actual]>=(0) AND [pct_avance_actual]<=(100)))
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [CK_Operacion_avance]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [CK_Operacion_desfase] CHECK  (([desfase_inicio_hs]>=(0)))
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [CK_Operacion_desfase]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [CK_Operacion_duracion] CHECK  (([duracion_hs]>(0)))
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [CK_Operacion_duracion]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [CK_Operacion_fecha_nad] CHECK  (([fecha_no_antes_del] IS NULL OR [fecha_inicio_estimada] IS NULL OR [fecha_no_antes_del]>=[fecha_inicio_estimada]))
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [CK_Operacion_fecha_nad]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [CK_Operacion_fechas_estimadas] CHECK  (([fecha_fin_estimada] IS NULL OR [fecha_inicio_estimada] IS NULL OR [fecha_fin_estimada]>=[fecha_inicio_estimada]))
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [CK_Operacion_fechas_estimadas]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [CK_Operacion_fechas_reales] CHECK  (([fecha_fin_real] IS NULL OR [fecha_inicio_real] IS NULL OR [fecha_fin_real]>=[fecha_inicio_real]))
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [CK_Operacion_fechas_reales]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [CK_Operacion_meta] CHECK  (([cantidad_meta] IS NULL OR [cantidad_meta]>(0)))
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [CK_Operacion_meta]
GO
ALTER TABLE [dbo].[Operacion]  WITH CHECK ADD  CONSTRAINT [CK_Operacion_peso] CHECK  (([peso_pct]>=(0) AND [peso_pct]<=(100)))
GO
ALTER TABLE [dbo].[Operacion] CHECK CONSTRAINT [CK_Operacion_peso]
GO
ALTER TABLE [dbo].[OperacionDependencia]  WITH CHECK ADD  CONSTRAINT [CK_OperacionDependencia_desfase] CHECK  (([desfase_hs]>=(0)))
GO
ALTER TABLE [dbo].[OperacionDependencia] CHECK CONSTRAINT [CK_OperacionDependencia_desfase]
GO
ALTER TABLE [dbo].[OperacionDependencia]  WITH CHECK ADD  CONSTRAINT [CK_OperacionDependencia_distinta] CHECK  (([operacion_id]<>[operacion_predecesora_id]))
GO
ALTER TABLE [dbo].[OperacionDependencia] CHECK CONSTRAINT [CK_OperacionDependencia_distinta]
GO
ALTER TABLE [dbo].[OperacionDependencia]  WITH CHECK ADD  CONSTRAINT [CK_OperacionDependencia_tipo] CHECK  (([tipo]=N'FIN_INICIO'))
GO
ALTER TABLE [dbo].[OperacionDependencia] CHECK CONSTRAINT [CK_OperacionDependencia_tipo]
GO
ALTER TABLE [dbo].[ResponsableOperacion]  WITH CHECK ADD  CONSTRAINT [CK_ResponsableOperacion_tipo] CHECK  (([tipo]=N'SUBCONTRATISTA' OR [tipo]=N'CUADRILLA_PROPIA'))
GO
ALTER TABLE [dbo].[ResponsableOperacion] CHECK CONSTRAINT [CK_ResponsableOperacion_tipo]
GO
ALTER TABLE [dbo].[VersionPlan]  WITH CHECK ADD  CONSTRAINT [CK_VersionPlan_contadores] CHECK  (([operaciones_nuevas]>=(0) AND [operaciones_modificadas]>=(0) AND [operaciones_archivadas]>=(0)))
GO
ALTER TABLE [dbo].[VersionPlan] CHECK CONSTRAINT [CK_VersionPlan_contadores]
GO
USE [master]
GO
